{{>head}}
{{>nav}}
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
            <div class="secondary-nav">
                <div class="breadcrumbs-container" data-page-heading="Analytics">
                    <header class="header navbar navbar-expand-sm">
                        <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                        </a>
                        <div class="d-flex breadcrumb-content">
                            <div class="page-header">
                                <div class="page-title"><h3>{{ title }}</h3></div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <!--  END BREADCRUMBS  -->

            <div class="row layout-top-spacing">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control br-30" name="status">
                                {{#select status }}
                                    <option value="">Trạng thái</option>
                                    <option value="active">Hoạt Động</option>
                                    <option value="limit">Giới Hạn</option>
                                    <option value="pending">Tạm Dừng</option>
                                    <option value="error">Lỗi Số</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control br-30" name="loginStatus">
                                {{#select loginStatus }}
                                    <option value="">Đăng Nhập</option>
                                    <option value="refreshError">Lỗi Refresh</option>
                                    <option value="waitLogin">Đợi Đăng Nhập</option>
                                    <option value="errorLogin">Lỗi Đăng Nhập</option>
                                    <option value="active">Hoạt Động</option>
                                    <option value="waitOTP">Đợi OTP</option>
                                    <option value="waitSend">Đợi Gửi OTP</option>
                                    <option value="error">Lỗi</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-9 filtered-list-search mx-auto">
                            <div class="form-inline my-2 my-lg-0 justify-content-center">
                                <div class="w-100">
                                    <input type="text" class="w-100 form-control product-search br-30" name="search" placeholder="Tìm kiếm" value="{{search}}">
                                    <button class="btn btn-primary _effect--ripple waves-effect waves-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>




                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <form action="#" method="post" id="formAdd">
                                <div class="form-group">
                                    <label class="">Họ tên</label>
                                    <input class="form-control" name="name" placeholder="Nhập họ tên...">
                                </div>
                                <div class="form-group">
                                    <label class="">Tài khoản</label>
                                    <input class="form-control" name="username" placeholder="Nhập tài khoản...">
                                </div>
                                <div class="form-group">
                                    <label class="">Mật khẩu</label>
                                    <input class="form-control" placeholder="Nhập mật khẩu..." name="password">
                                </div>
                                <div class="form-group">
                                    <label class="">Số tài khoản</label>
                                    <input class="form-control" name="accountNumber" placeholder="Nhập số tài khoản...">
                                </div>
                                <div class="form-group">
                                    <label class="">Loại ngân hàng</label>
                                    <input class="form-control" name="bankType" placeholder="Nhập loại ngân hàng...">
                                </div>
                                <div class="form-group">
                                    <label class="">Proxy</label>
                                    <input class="form-control" name="proxy" placeholder="Nhập proxy nếu cần...">
                                </div>
                                <button type="submit" class="btn btn-success w-100 mt-2 action-add">Thêm</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                    <div class="widget-four">
                        <div class="widget-heading">
                            <h5 class="">Thống kê</h5>
                        </div>
                        <div class="widget-content">
                            <div class="vistorsBrowser">
                                <div class="browser-list">
                                    <div class="w-icon">
                                        <img src="https://cdn-icons-png.freepik.com/512/6020/6020687.png">
                                    </div>
                                    <div class="w-browser-details">
                                        <div class="w-browser-info">
                                            <h6>Tổng tiền</h6>
                                            <p class="browser-count">{{ numberFormat totalBalance  }}</p>
                                        </div>
                                        <div class="w-browser-stats">
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 100%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="browser-list">
                                    <div class="w-icon">
                                        <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/02/Icon-MB-Bank-MBB.png">
                                    </div>
                                    <div class="w-browser-details">
                                        <div class="w-browser-info">
                                            <h6>Ngân hàng</h6>
                                            <p class="browser-count">{{ calculatePercentage countBank totalBalance  }}%</p>
                                        </div>
                                        <div class="w-browser-stats">
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: {{ calculatePercentage countBank totalBalance  }}%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="browser-list">
                                    <div class="w-icon">
                                        <img src="https://pay2s.vn/blog/wp-content/uploads/2024/11/momo_icon_circle_pinkbg_RGB-1024x1024.png">
                                    </div>
                                    <div class="w-browser-details">

                                        <div class="w-browser-info">
                                            <h6>Momo</h6>
                                            <p class="browser-count">{{ calculatePercentage countMomo totalBalance  }}%</p>
                                        </div>

                                        <div class="w-browser-stats">
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: {{ calculatePercentage countMomo totalBalance  }}%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="browser-list">
                                    <div class="w-icon">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Icon_of_Zalo.svg/2048px-Icon_of_Zalo.svg.png">
                                    </div>
                                    <div class="w-browser-details">

                                        <div class="w-browser-info">
                                            <h6>Zalo</h6>
                                            <p class="browser-count">{{ calculatePercentage countZalo totalBalance  }}%</p>
                                        </div>

                                        <div class="w-browser-stats">
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: {{ calculatePercentage countZalo totalBalance  }}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                {{#each list}}
                                <div class="browser-list">
                                    <div class="w-icon">
                                        <img src="{{bankImage this.bankType}}">
                                    </div>
                                    <div class="w-browser-details">
                                        <div class="w-browser-info">
                                            <h6>{{ this.accountNumber }}</h6>
                                            <p class="browser-count">{{ calculatePercentage this.balance ../totalBalance  }}%</p>
                                        </div>
                                        <div class="w-browser-stats">
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-dark" role="progressbar" style="width: {{ calculatePercentage this.balance ../totalBalance  }}%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="table-responsive">
                        <table style="table-layout: fixed; width: 100%" class="table table-bordered border-secondary">
                            <thead  class="text-center">
                            <tr>
                                <th style="width: 200px">
                                    Thao tác
                                </th>
                                <th style="width: 130px">Số iện thoại</th>
                                <th style="width: 250px">Tên</th>
                                <th style="width: 200px">Số tài khoản</th>
                                <th style="width: 130px">Ngân hàng</th>
                                <th style="width: 250px">Số Dư {{{ tableSort originalUrl.search 'balance' _sort }}}</th>
                                <th style="width: 250px">Cược Min {{{ tableSort originalUrl.search 'betMin' _sort }}}</th>
                                <th style="width: 250px">Cược Max {{{ tableSort originalUrl.search 'betMax' _sort }}}</th>
                                <th style="width: 250px">Trạng Thái {{{ tableSort originalUrl.search 'status' _sort }}}</th>
                                <th style="width: 250px">Đăng Nhập {{{ tableSort originalUrl.search 'loginStatus' _sort }}}</th>
                                <th style="width: 250px">Mô Tả</th>
                                <th style="width: 250px">Chuyển Ngày</th>
                                <th style="width: 250px">Nhận Ngày</th>
                                <th style="width: 250px">Chuyển Tháng</th>
                                <th style="width: 250px">Nhận Tháng</th>
                                <th style="width: 250px">Trạng thái</th>
                                <th style="width: 250px">OTP</th>
                                <th style="width: 250px">DEVICE ID</th>
                                <th style="width: 250px">SIM SLOT</th>
                                <th style="width: 250px">Proxy</th>
                                <th style="width: 250px">Đăng nhập lúc {{{ tableSort originalUrl.search 'updatedAt' _sort }}}
                                </th>
                                <th style="width: 250px">Cập Nhập {{{ tableSort originalUrl.search 'updatedAt' _sort }}}
                                </th>
                                <th style="width: 250px">Thời Gian {{{ tableSort originalUrl.search 'createdAt' _sort }}}
                                </th>
                            </tr>
                            </thead>
                            <tbody data-table="bank" class="text-center">
                            {{#each list}}
                                <tr class="edit-one" data-id="{{ this._id }}">
                                    <td class="text-center">
                                        <div class="flex-column">
                                            <a class="action-more" data-action="balance" data-id="{{ this._id }}">
                                                <span class="badge badge-light-dark"><i class="fa fa-money-bill"></i></span>
                                            </a>
                                            <a class="action-more" data-action="refresh" data-id="{{ this._id }}">
                                                <span class="badge badge-light-dark"><i class="fa fa-history"></i></span>
                                            </a>
                                            <a class="action-more" data-bs-submit="bank" data-bs-action="remove" data-id="{{ this._id }}">
                                                <span class="badge badge-light-danger"><i class="fa fa-trash"></i></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td>{{ this.username }}</td>
                                    <td>{{ this.name }}</td>
                                    <td>{{ this.accountNumber }}</td>
                                    <td><img width="100%" src="{{ bankImage this.bankType }}"></td>
                                    <td class="balance">{{ numberFormat this.balance }}</td>
                                    <td data-bs-name="betMin" data-bs-hasEdit="true">
                                                            <span data-bs-table="html" data-bs-key="format" data-bs-value="{{ this.betMin }}">
                                                            <span data-bs-html="true">{{ numberFormat this.betMin }}</span></span>
                                        <span data-bs-table="edit" data-bs-value="{{ this.betMin }}" class="hidden">
                                                        <input type="text" class="form-control"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td data-bs-name="betMax" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.betMax }}">
                                                        <span data-bs-html="true">{{ numberFormat this.betMax }}</span>
                                                    </span>
                                        <span data-bs-table="edit" data-bs-value="{{ this.betMax }}" class="hidden">
                                                        <input type="text" class="form-control"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td data-bs-name="status" data-bs-hasEdit="true">
                                                            <span data-bs-table="html" data-bs-value="{{ this.status }}">
                                                                <span data-bs-html="true">{{{ momoStatus this.status }}}</span>
                                                            </span>
                                        <span data-bs-table="edit" data-bs-value="{{ this.status }}" class="hidden flex justify-center items-center flex-wrap gap-2.5">
                                                                <select class="form-control"
                                                                        data-bs-edit="true">
                                                                    <option value="active">Hoạt động</option>
                                                                    <option value="limit">Giới Hạn</option>
                                                                    <option value="pending">Tạm Dừng</option>
                                                                    <option value="error">Lỗi Số</option>
                                                                </select>
                                                            </span>
                                    </td>
                                    <td data-bs-name="loginStatus" data-bs-hasEdit="true">
                                                            <span data-bs-table="html" data-bs-value="{{ this.loginStatus }}">
                                                                <span data-bs-html="true">{{{ loginStatus this.loginStatus }}}</span>
                                                            </span>
                                        <span data-bs-table="edit" data-bs-value="{{ this.loginStatus }}" class="hidden flex justify-center items-center flex-wrap gap-2.5">
                                                                <select class="form-control"
                                                                        data-bs-edit="true">
                                                                    <option value="refreshError">Lỗi Refresh</option>
                                                                    <option value="waitLogin">Đợi đăng Nhập</option>
                                                                    <option value="errorLogin">Lỗi đăng Nhập</option>
                                                                    <option value="active">Hoạt động</option>
                                                                    <option value="waitOTP">Đợi OTP</option>
                                                                    <option value="waitSend">Đợi Gửi OTP</option>
                                                                    <option value="error">Lỗi</option>
                                                                </select>
                                                            </span>
                                    </td>
                                    <td><textarea class="form-control">{{ this.description }}</textarea>
                                    </td>
                                    <td>{{ numberFormat this.amountDay }}</td>
                                    <td>{{ numberFormat this.receiptDay }}</td>
                                    <td>{{ numberFormat this.amountMonth }}</td>
                                    <td>{{ numberFormat this.receiptMonth }}</td>
                                    <td>
                                        {{#ifCond this.reward '===' true}}
                                            <span class="badge badge-warning">Đang trả</span>
                                        {{else}}
                                            <span class="badge badge-success">Nghỉ ngơi</span>
                                        {{/ifCond}}
                                    </td>
                                    <td data-bs-name="otp" data-bs-hasEdit="true">
                                        <span data-bs-table="html" data-bs-key="text"
                                              data-bs-value="{{ this.otp }}">
                                            {{#ifCond this.otp '===' null}}
                                                <span data-bs-html="true">Đang chờ</span>
                                                {{else}}
                                                <span data-bs-html="true">{{ this.otp }}</span>
                                            {{/ifCond}}
                                        </span>
                                        <span data-bs-table="edit" data-bs-value="{{ this.otp }}" class="hidden">
                                                        <input type="text" class="form-control"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td data-bs-name="deviceId" data-bs-hasEdit="true">
                                        <span data-bs-table="html" data-bs-key="text"
                                              data-bs-value="{{ this.deviceId }}">
                                            {{#if this.deviceId}}
                                                <span data-bs-html="true">{{ this.deviceId }}</span>
                                            {{else}}
                                                <span data-bs-html="true">Không có</span>
                                            {{/if}}
                                        </span>
                                        <span data-bs-table="edit" data-bs-value="{{ this.deviceId }}" class="hidden">
                                                        <input type="text" class="form-control"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td data-bs-name="simSlot" data-bs-hasEdit="true">
                                        <span data-bs-table="html" data-bs-key="text"
                                              data-bs-value="{{ this.simSlot }}">
                                            {{#if this.simSlot}}
                                                <span data-bs-html="true">{{ this.simSlot }}</span>
                                            {{else}}
                                                <span data-bs-html="true">Không có</span>
                                            {{/if}}
                                        </span>
                                        <span data-bs-table="edit" data-bs-value="{{ this.simSlot }}" class="hidden">
                                                        <input type="text" class="form-control"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td>{{ this.proxy }}</td>
                                    <td>{{ formatDate this.loginAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                    <td>{{ formatDate this.updatedAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                    <td>{{ formatDate this.createdAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                </tr>
                            {{else}}
                                <tr>
                                    <td colspan="24">
                                        <div class="dm-empty text-center">
                                            <div class="dm-empty__image">
                                                <img src="../themes/admin/images/1.png" alt="Rỗng">
                                            </div>
                                            <div class="dm-empty__text">
                                                <p class="">Không có dữ liệu !</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © <span class="dynamic-year">2022</span> <a target="_blank" href="">CuuDen</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {

        $('body').on('click', '.action-more', function (e) {
            let _this = $(this);
            let action = _this.data('action');
            let id = _this.data('id');

            switch (action) {
                case 'balance':
                    _this.prop('disabled', true);
                    axios.post('{{adminPath}}/bank/balance', {id})
                            .then((result) => {
                                let response = result.data;

                                response.success ? swal('Thông Báo', response.message, 'success') && _this.parent().parent().parent().find('td.amount').html(`${Intl.NumberFormat('en-US').format(response.balance)}`) : swal('Thông Báo', response.message, 'error');
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                case 'refresh':
                    _this.prop('disabled', true);
                    axios.post('{{adminPath}}/bank/refresh', {id})
                            .then((result) => {
                                let response = result.data;

                                response.success ? swal('Thông Báo', response.message, 'success') : swal('Thông Báo', response.message, 'error');
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                default:
                    swal('Thông Báo', 'Thao tác không hợp lệ!', 'warning');
                    break;
            }
        })

        function loadQR(data, img, bgc) {
            qrCode = new QRCodeStyling({
                width: 400,
                height: 400,
                data: data,
                image: img,
                dotsOptions: {color: bgc, type: "rounded"},
                backgroundOptions: {color: "#FFF"},
                imageOptions: {crossOrigin: "anonymous", margin: 5, imageSize: 0.5},
            });
            $("#canvasQr").html(""), qrCode.append(document.getElementById("canvasQr"));
            $('[data-bs-modal="qrModal"]').modal('show')
        }

        $(document).on("click", ".qrc", function () {

            var bankCode = $(this).attr('data-bankcode');
            var bgc = "#11089c";

            var img = window.location.protocol + '//' + window.location.host + '/themes/images/banks/' + bankCode + '.png';
            var data = $(this).attr('data-content');
            loadQR(data, img, bgc);
        });

        $('body').on('submit', '#formAdd', function (e) {
            e.preventDefault();
            let data = $(this).serialize();


            axios.post(`{{ adminPath }}/bank`, data)
                    .then((result) => {
                        let res = result.data;

                        res.success ? swal('Thông báo', res.message, 'success') && setTimeout(() => window.location.reload(), 1500) : swal('Thông báo', res.message, 'error');

                    })
                    .catch((err) => {
                        $('textarea[name=error]').textContent(err.dataResult);
                        swal('Thông Báo', err.message || err, 'error');
                    })
        })
    })
</script>
{{>foot}}

