{{>head}}
{{>nav}}
<main class="main-content">
    <div class="contents">
        <div class="crm mb-25">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-main">
                            <h4 class="text-capitalize breadcrumb-title">{{ title }}</h4>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-20">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title">
                                    <a href="{{ originalUrl.pathname }}" class="text-dark">
                                        <img src="../themes/admin/images/wallet.png" alt="" width="35">
                                        Danh Sách Ngân Hàng
                                        <img src="../themes/admin/images/wallet.png" class="d-md-none" width="35">
                                    </a>
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="userDatatable adv-table-table global-shadow border-light-0 adv-table">
                                    <div id="filter-form-container"
                                         class="footable-filtering-external footable-filtering-right">
                                        <form>
                                            <div class="form-inline">
                                                <div
                                                        class="form-group dm-select d-flex align-items-center adv-table-searchs__status mb-3 me-sm-30 me-0">
                                                    <label
                                                            class="d-flex align-items-center mb-sm-0 mb-2 fs-15 fw-500">Trạng
                                                        Thái</label>
                                                    <select name="status" class="form-control ms-sm-10 ms-0">
                                                        {{#select status }}
                                                            <option value="">Tất Cả</option>
                                                            <option value="active">Hoạt Động</option>
                                                            <option value="limit">Giới Hạn</option>
                                                            <option value="pending">Tạm Dừng</option>
                                                            <option value="error">Lỗi Số</option>
                                                        {{/select}}
                                                    </select>
                                                </div>
                                                <div
                                                        class="form-group dm-select d-flex align-items-center adv-table-searchs__status mb-3 me-sm-30 me-0">
                                                    <label
                                                            class="d-flex align-items-center mb-sm-0 mb-2 fs-15 fw-500">Đăng
                                                        Nhập</label>
                                                    <select name="loginStatus" class="form-control ms-sm-10 ms-0">
                                                        {{#select loginStatus }}
                                                            <option value="">Tất Cả</option>
                                                            <option value="refreshError">Lỗi Refresh</option>
                                                            <option value="waitLogin">Đợi Đăng Nhập</option>
                                                            <option value="errorLogin">Lỗi Đăng Nhập</option>
                                                            <option value="active">Hoạt Động</option>
                                                            <option value="waitOTP">Đợi OTP</option>
                                                            <option value="waitSend">Đợi Gửi OTP</option>
                                                            <option value="error">Lỗi</option>
                                                        {{/select}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-md-10">
                                                    <div class="form-group mb-3 hand">
                                                        <div class="input-group">
                                                            <input type="search" name="search" class="form-control"
                                                                   value="{{ search }}"
                                                                   placeholder="Nhập nội dung tìm kiếm...">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group mb-3">
                                                        <button class="btn btn-primary btn-sm btn-block"><i
                                                                class="fa fa-search" aria-hidden="true"></i> Tìm
                                                            kiếm
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="content-center mb-3">
                                    <button class="btn btn-secondary">Tổng: {{ numberFormat count }}đ</button>
                                </div>
                                <div class="table-responsive table-mousewheel mb-3">
                                    <table
                                            class="table table-vcenter text-nowrap table-bordered text-center table-mb sort-table">
                                        <thead class="badge-secondary text-white">
                                        <tr>
                                            <th>
                                                    <span data-bs-submit="momo" data-bs-action="add">
                                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                    </span>
                                            </th>
                                            <th>Số điện thoại</th>
                                            <th>Tên</th>
                                            <th>Số tài khoản</th>
                                            <th>Ngân hàng</th>
                                            <th>Số Dư {{{ tableSort originalUrl.search 'balance' _sort }}}</th>
                                            <th>Số Lần {{{ tableSort originalUrl.search 'number' _sort }}}</th>
                                            <th>Cược Min {{{ tableSort originalUrl.search 'betMin' _sort }}}</th>
                                            <th>Cược Max {{{ tableSort originalUrl.search 'betMax' _sort }}}</th>
                                            <th>Giới Hạn Ngày {{{ tableSort originalUrl.search 'limitDay' _sort }}}
                                            </th>
                                            <th>Giới Hạn Tháng {{{ tableSort originalUrl.search 'limitMonth' _sort
                                            }}}</th>
                                            <th>Trạng Thái {{{ tableSort originalUrl.search 'status' _sort }}}</th>
                                            <th>Đăng Nhập {{{ tableSort originalUrl.search 'loginStatus' _sort }}}
                                            </th>
                                            <th>Mô Tả</th>
                                            <th>Chuyển Ngày</th>
                                            <th>Nhận Ngày</th>
                                            <th>Chuyển Tháng</th>
                                            <th>Nhận Tháng</th>
                                            <th>Proxy</th>
                                            <th>Đăng nhập lúc {{{ tableSort originalUrl.search 'updatedAt' _sort }}}
                                            </th>
                                            <th>Cập Nhập {{{ tableSort originalUrl.search 'updatedAt' _sort }}}
                                            </th>
                                            <th>Thời Gian {{{ tableSort originalUrl.search 'createdAt' _sort }}}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody data-table="momo">
                                        {{#each list}}
                                            <tr class="edit-one" data-id="{{ this._id }}">
                                                <td>
                                                    <div class="table-actions hand p-2">
                                                        <span class="badges badge-success qrc" data-bankcode="{{ this.bankType }}" data-content="{{ this.contentQr }}"
                                                              data-bs-toggle="tooltip" data-bs-placement="top"
                                                              data-bs-original-title="Lấy QR"><i
                                                                class="fas fa-qrcode"></i></span>
                                                        <span class="badges badge-warning action-more"
                                                              data-action="balance" data-id="{{ this._id }}"
                                                              data-bs-toggle="tooltip" data-bs-placement="top"
                                                              data-bs-original-title="Cập nhập số dư"><i
                                                                class="fas fa-coins"></i></span>
                                                        <span class="badges badge-success action-more"
                                                              data-action="refresh" data-id="{{ this._id }}"
                                                              data-bs-toggle="tooltip" data-bs-placement="top"
                                                              data-bs-original-title="Cập nhập token"><i
                                                                class="fas fa-redo-alt"></i></span>
                                                        <a href="./home?_phone={{ this.phone }}"
                                                        class="badges badge-info" data-bs-toggle="tooltip"
                                                        data-bs-placement="top"
                                                        data-bs-original-title="Xem doanh thu số"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a>
                                                        <span class="badges badge-danger" data-bs-submit="bank"
                                                              data-bs-action="remove" data-id="{{ this._id }}"
                                                              data-bs-toggle="tooltip" data-bs-placement="top"
                                                              data-bs-original-title="Xóa"><i class="fa fa-trash"
                                                                                              aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                                <td>{{ this.username }}</td>
                                                <td>{{ this.name }}</td>
                                                <td>{{ this.accountNumber }} <br /> ({{ this.otp }})</td>
                                                <td><img width="50%" src="{{ bankImage this.bankType }}"></td>
                                                <td class="balance">{{ numberFormat this.balance }}đ</td>
                                                <td data-bs-name="number" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.number }}">
                                                        <span data-bs-html="true">{{ numberFormat this.number }}</span>
                                                    </span>
                                                    <span data-bs-table="edit" data-bs-value="{{ this.number }}">
                                                        <input type="text" class="form-control ih-medium ip-light mb-2"
                                                               data-bs-edit="true">
                                                    </span>
                                                </td>
                                                <td data-bs-name="betMin" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.betMin }}">
                                                        <span data-bs-html="true">{{ numberFormat this.betMin }}</span>
                                                    </span>
                                                    <span data-bs-table="edit" data-bs-value="{{ this.betMin }}">
                                                        <input type="text" class="form-control ih-medium ip-light mb-2"
                                                               data-bs-edit="true">
                                                    </span>
                                                </td>
                                                <td data-bs-name="betMax" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.betMax }}">
                                                        <span data-bs-html="true">{{ numberFormat this.betMax }}</span>
                                                    </span>
                                                    <span data-bs-table="edit" data-bs-value="{{ this.betMax }}">
                                                        <input type="text" class="form-control ih-medium ip-light mb-2"
                                                               data-bs-edit="true">
                                                    </span>
                                                </td>
                                                <td data-bs-name="limitDay" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.limitDay }}">
                                                        <span data-bs-html="true">{{ numberFormat this.limitDay
                                                        }}</span>
                                                    </span>
                                                    <span data-bs-table="edit" data-bs-value="{{ this.limitDay }}">
                                                        <input type="text" class="form-control ih-medium ip-light mb-2"
                                                               data-bs-edit="true">
                                                    </span>
                                                </td>
                                                <td data-bs-name="limitMonth" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.limitMonth }}">
                                                        <span data-bs-html="true">{{ numberFormat this.limitMonth
                                                        }}</span>
                                                    </span>
                                                    <span data-bs-table="edit" data-bs-value="{{ this.limitMonth }}">
                                                        <input type="text" class="form-control ih-medium ip-light mb-2"
                                                               data-bs-edit="true">
                                                    </span>
                                                </td>
                                                <td data-bs-name="status" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-value="{{ this.status }}">
                                                        <span data-bs-html="true">{{{ momoStatus this.status }}}</span>
                                                    </span>
                                                    <span data-bs-table="edit" data-bs-value="{{ this.status }}">
                                                        <select class="form-control ih-medium ip-light mb-2"
                                                                data-bs-edit="true">
                                                            <option value="active">Hoạt Động</option>
                                                            <option value="limit">Giới Hạn</option>
                                                            <option value="pending">Tạm Dừng</option>
                                                            <option value="error">Lỗi Số</option>
                                                        </select>
                                                    </span>
                                                </td>
                                                <td data-bs-name="loginStatus" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-value="{{ this.loginStatus }}">
                                                        <span data-bs-html="true">{{{ loginStatus this.loginStatus
                                                        }}}</span>
                                                    </span>
                                                    <span data-bs-table="edit" data-bs-value="{{ this.loginStatus }}">
                                                        <select class="form-control ih-medium ip-light mb-2"
                                                                data-bs-edit="true">
                                                            <option value="refreshError">Lỗi Refresh</option>
                                                            <option value="waitLogin">Đợi Đăng Nhập</option>
                                                            <option value="errorLogin">Lỗi Đăng Nhập</option>
                                                            <option value="active">Hoạt Động</option>
                                                            <option value="waitOTP">Đợi OTP</option>
                                                            <option value="waitSend">Đợi Gửi OTP</option>
                                                            <option value="error">Lỗi</option>
                                                        </select>
                                                    </span>
                                                </td>
                                                <td><textarea class="form-control">{{ this.description }}</textarea>
                                                </td>
                                                <td>{{ numberFormat this.amountDay }}đ</td>
                                                <td>{{ numberFormat this.receiptDay }}đ</td>
                                                <td>{{ numberFormat this.amountMonth }}đ</td>
                                                <td>{{ numberFormat this.receiptMonth }}đ</td>
                                                <td>{{ this.proxy }}</td>
                                                <td>{{ formatDate this.loginAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                                <td>{{ formatDate this.updatedAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                                <td>{{ formatDate this.createdAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                            </tr>
                                        {{else}}
                                            <tr>
                                                <td colspan="24">
                                                    <div class="dm-empty text-center">
                                                        <div class="dm-empty__image">
                                                            <img src="../themes/admin/images/1.png" alt="Rỗng">
                                                        </div>
                                                        <div class="dm-empty__text">
                                                            <p class="">Không có dữ liệu !</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <nav class="dm-page">
                                        <ul class="dm-pagination d-flex">
                                            <li class="dm-pagination__item">
                                                {{#paginate pagination type="previous"}}
                                                <a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}
                                                    page={{n}}{{/if}}"
                                                    class="dm-pagination__link pagination-control {{#if disabled}}
                                                    disabled{{/if}}">
                                                    <span class="la la-angle-left"></span>
                                                    </a>
                                                {{/paginate}}
                                                {{#paginate pagination type="middle" limit=pagination.limit}}
                                                <a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}
                                                    page={{n}}{{/if}}"
                                                    class="dm-pagination__link {{#if active}}active{{/if}}"><span
                                                        class="page-number">{{n}}</span>
                                                    </a>
                                                {{/paginate}}
                                                {{#paginate pagination type="next"}}
                                                <a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}
                                                    page={{n}}{{/if}}"
                                                    class="dm-pagination__link pagination-control {{#if disabled}}
                                                    disabled{{/if}}">
                                                    <span class="la la-angle-right"></span>
                                                    </a>
                                                {{/paginate}}
                                            </li>
                                            <li class="dm-pagination__item">
                                                <div class="paging-option">
                                                    <select name="perPage" class="page-selection"
                                                            data-query="{{ checkQuery originalUrl.search 'perPage' }}">
                                                        {{#select perPage }}
                                                            <option value="10">10/page</option>
                                                            <option value="20">20/page</option>
                                                            <option value="40">40/page</option>
                                                            <option value="60">60/page</option>
                                                            <option value="100">100/page</option>
                                                            <option value="200">200/page</option>
                                                            <option value="500">500/page</option>
                                                        {{/select}}
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Modal Add Momo -->
<div class="modal fade" data-bs-modal="momo-add" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-plus-circle"></i> Thêm Tài Khoản</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="post" id="formAdd">
                <div class="modal-body">
                    <div class=form-group>
                        <label class="fs-14 fw-500 il-gray mb-10" for="">Tài khoản</label>
                        <input class="form-control ih-medium ip-light" name="username" placeholder="Nhập tài khoản...">
                    </div>
                    <div class=form-group>
                        <label class="fs-14 fw-500 il-gray mb-10" for="">Mật khẩu</label>
                        <input class="form-control ih-medium ip-light" name="password" placeholder="Nhập mật khẩu...">
                    </div>
                    <div class=form-group>
                        <label class="fs-14 fw-500 il-gray mb-10" for="">Số tài khoản</label>
                        <input class="form-control ih-medium ip-light" name="accountNumber" placeholder="Nhập số tài khoản...">
                    </div>
                    <div class=form-group>
                        <label class="fs-14 fw-500 il-gray mb-10" for="">Loại ngân hàng</label>
                        <input class="form-control ih-medium ip-light" name="bankType" placeholder="Nhập loại ngân hàng...">
                    </div>
                    <div class=form-group>
                        <label class="fs-14 fw-500 il-gray mb-10" for="">Proxy</label>
                        <input class="form-control ih-medium ip-light" name="proxy" placeholder="Nhập proxy nếu cần...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary btn-sm action-add" data-action="add">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" data-bs-modal="qrModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content radius-xl">
            <div class="modal-header">
                <h5 class="modal-title">Mã </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class=text-center id=canvasQr>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
{{>foot}}
<script src="https://cdn.jsdelivr.net/npm/qr-code-styling@1.9.1/lib/qr-code-styling.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {

        $('body').on('click', '.action-more', function (e) {
            let _this = $(this);
            let action = _this.data('action');
            let id = _this.data('id');

            switch (action) {
                case 'balance':
                    _this.prop('disabled', true);
                    axios.post('{{adminPath}}/bank/balance', {id})
                            .then((result) => {
                                let response = result.data;

                                response.success ? swal('Thông Báo', response.message, 'success') && _this.parent().parent().parent().find('td.amount').html(`${Intl.NumberFormat('en-US').format(response.balance)}đ`) : swal('Thông Báo', response.message, 'error');
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                case 'refresh':
                    _this.prop('disabled', true);
                    axios.post('{{adminPath}}/bank/refresh', {id})
                            .then((result) => {
                                let response = result.data;

                                response.success ? swal('Thông Báo', response.message, 'success') : swal('Thông Báo', response.message, 'error');
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                default:
                    swal('Thông Báo', 'Thao tác không hợp lệ!', 'warning');
                    break;
            }
        })

        function loadQR(data, img, bgc) {
            qrCode = new QRCodeStyling({
                width: 400,
                height: 400,
                data: data,
                image: img,
                dotsOptions: {color: bgc, type: "rounded"},
                backgroundOptions: {color: "#FFF"},
                imageOptions: {crossOrigin: "anonymous", margin: 5, imageSize: 0.5},
            });
            $("#canvasQr").html(""), qrCode.append(document.getElementById("canvasQr"));
            $('[data-bs-modal="qrModal"]').modal('show')
        }

        $(document).on("click", ".qrc", function () {

            var bankCode = $(this).attr('data-bankcode');
            var bgc = "#11089c";

            var img = window.location.protocol + '//' + window.location.host + '/themes/images/banks/' + bankCode + '.png';
            var data = $(this).attr('data-content');
            loadQR(data, img, bgc);
        });

        $('body').on('submit', '#formAdd', function (e) {
            e.preventDefault();
            let data = $(this).serialize();


            axios.post(`{{ adminPath }}/bank`, data)
                    .then((result) => {
                        let res = result.data;

                        res.success ? swal('Thông báo', res.message, 'success') && setTimeout(() => window.location.reload(), 1500) : swal('Thông báo', res.message, 'error');

                    })
                    .catch((err) => {
                        $('textarea[name=error]').textContent(err.dataResult);
                        swal('Thông Báo', err.message || err, 'error');
                    })
        })
    })
</script>