{{>head}}
{{>nav}}
    <div id="content" class="main-content">
        <div class="layout-px-spacing">

            <div class="middle-content container-xxl p-0">

                <div class="secondary-nav">
                    <div class="breadcrumbs-container" data-page-heading="Analytics">
                        <header class="header navbar navbar-expand-sm">
                            <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                            </a>
                            <div class="d-flex breadcrumb-content">
                                <div class="page-header">

                                    <div class="page-title"><h3>{{ title }}</h3></div>

                                </div>
                            </div>
                        </header>
                    </div>
                </div>
                <!--  END BREADCRUMBS  -->

                <div class="row layout-top-spacing">

                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">

                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/receipt.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Tổng Nhận</h6>
                                            <p>{{ numberFormat revenueData.receipt }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">

                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/minus.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Tổng Chi</h6>
                                            <p>{{ numberFormat revenueData.minus }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">

                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/minus.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Doanh Thu</h6>
                                            <p>                                            {{ numberFormat revenueData.earning }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">

                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/win.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Tổng Thắng</h6>
                                            <p>{{ numberFormat revenueData.win }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">

                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/won.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Tổng Thua</h6>
                                            <p>{{ numberFormat revenueData.won }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">

                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/error.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Tổng Lỗi</h6>
                                            <p>{{ numberFormat revenueData.error }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">

                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/refund.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Tổng Hoàn</h6>
                                            <p>{{ numberFormat revenueData.refund }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">
                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/player.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Tổng Thành Viên</h6>
                                            <p>{{ countUser }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">
                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/block.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Tổng Bị Khoá</h6>
                                            <p>{{ countBlockUser }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">

                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/wallet.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Số dư Momo</h6>
                                            <p>{{ numberFormat countMomo }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">

                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/wallet.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Số dư Zalo</h6>
                                            <p>{{ numberFormat countZalo }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-card-five">
                            <div class="widget-content">
                                <div class="account-box">

                                    <div class="info-box">
                                        <div class="icon">
                                                <span>
                                                    <img src="../themes/admin/images/wallet.png" alt="money-bag">
                                                </span>
                                        </div>

                                        <div class="balance-info">
                                            <h6>Số dư Bank</h6>
                                            <p>{{ numberFormat countBank }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p class="">Copyright © <span class="dynamic-year">2022</span> <a target="_blank" href="">CuuDen</a>, All rights reserved.</p>
            </div>
            <div class="footer-section f-section-2">
                <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
            </div>
        </div>
    </div>
{{>foot}}
