{{>head}}
{{>nav}}
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
            <div class="secondary-nav">
                <div class="breadcrumbs-container" data-page-heading="Analytics">
                    <header class="header navbar navbar-expand-sm">
                        <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                        </a>
                        <div class="d-flex breadcrumb-content">
                            <div class="page-header">
                                <div class="page-title"><h3>{{ title }}</h3></div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>

            <div class="row layout-top-spacing">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control br-30 page-selection" name="perPage" data-query="{{ checkQuery originalUrl.search 'perPage' }}">
                                {{#select perPage }}
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control br-30" name="resultType">
                                {{#select resultType}}
                                    <option value="">Tất Cả</option>
                                    <option value="end">Số Cuối</option>
                                    <option value="count_2">Tổng 2 Số</option>
                                    <option value="count_3">Tổng 3 Số</option>
                                    <option value="minus_3">Hiệu 3 Số</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-9 filtered-list-search mx-auto">
                            <div class="form-inline my-2 my-lg-0 justify-content-center">
                                <div class="w-100">
                                    <input type="text" class="w-100 form-control product-search br-30" name="search" placeholder="Tìm kiếm" value="{{search}}">
                                    <button class="btn btn-primary _effect--ripple waves-effect waves-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <form action="#" method="post" id="formAdd">
                                <div class="form-group">
                                    <label for="" class="">Mã Code</label>
                                    <input type="text" name="code" class="form-control"
                                           placeholder="Nhập mã quà tặng">
                                </div>
                                <div class="form-group">
                                    <label for="" class="">Số Tiền</label>
                                    <input type="number" name="amount" class="form-control"
                                           placeholder="Nhập tiền thưởng của mã quà tặng">
                                </div>
                                <div class="form-group">
                                    <label for="" class="">Số Lượt</label>
                                    <input type="number" name="limit" class="form-control"
                                           placeholder="Nhập số lượng người sử dụng tối đa">
                                </div>
                                <div class="form-group">
                                    <label for="" class="">Số Ngày</label>
                                    <input type="number" name="days" class="form-control"
                                           placeholder="Nhập số ngày hết hạn">
                                </div>
                                <div class="form-group">
                                    <label for="" class="">Tổng Chơi</label>
                                    <input type="number" name="playCount" class="form-control"
                                           placeholder="Nhập số tiền khách chơi tối thiểu để đủ điều kiện sử dụng">
                                </div>
                                <div class="form-group">
                                    <label for="" class="">Loại nhận thưởng</label>
                                    <select name="type" class="form-control">
                                        <option value="bank">bank - Ngân hàng</option>
                                        <option value="balance">balance - Ví</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="" class="">OTP</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" name="otp" placeholder="Nhập mã otp được gửi đến phía admin!">
                                        <button class="btn btn-primary get-otp" data-action="addGift" type="button">Lấy OTP</button>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success w-100 mt-2 action-add">Thêm</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-bordered border-secondary">
                            <thead  class="text-center">
                            <tr>
                                <th>Mã Code</th>
                                <th>Số Tiền {{{ tableSort originalUrl.search 'amount' _sort }}}</th>
                                <th>Giới Hạn {{{ tableSort originalUrl.search 'limit' _sort }}}</th>
                                <th>Đã Dùng</th>
                                <th>Mức Chơi {{{ tableSort originalUrl.search 'playCount' _sort }}}</th>
                                <th>Thể loại {{{ tableSort originalUrl.search 'type' _sort }}}</th>
                                <th>Trạng Thái {{{ tableSort originalUrl.search 'status' _sort }}}</th>
                                <th>Thời Gian {{{ tableSort originalUrl.search 'createdAt' _sort }}}
                                </th>
                                <th>Hết Hạn {{{ tableSort originalUrl.search 'expiredAt' _sort }}}</th>
                                <th class="min-w-[60px]">
                                    <span data-kt-modal-toggle="#game-add">
                                        <i class="fa fa-headphones" aria-hidden="true"></i>
                                    </span>
                                </th>
                            </tr>
                            </thead>
                            <tbody data-table="reward" class="text-center">
                            {{#each giftCode}}
                                <tr class="edit-one" data-id="{{ this._id }}">
                                    <td><span class="badge badge-secondary" data-bs-html="true">{{
                                    this.code }}</span></td>
                                    <td data-bs-name="amount" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format" data-bs-value="{{ this.amount }}">
                                                        <span data-bs-html="true">{{ numberFormat this.amount }}</span>
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.amount }}">
                                                        <input style="width: 150px" type="number"
                                                               class="form-control"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td data-bs-name="limit" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format" data-bs-value="{{ this.limit }}">
                                                        <span data-bs-html="true">{{ this.limit }}</span>
                                                        lượt
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.limit }}">
                                                        <input style="width: 150px" type="number"
                                                               class="form-control"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td>{{ this.players.length }} lượt</td>
                                    <td data-bs-name="playCount" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format" data-bs-value="{{ this.playCount }}">
                                                        <span data-bs-html="true">{{ numberFormat this.playCount
                                                        }}</span>
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.playCount }}">
                                                        <input style="width: 150px" type="number"
                                                               class="form-control"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td>{{ this.type }}</td>
                                    <td data-bs-name="status" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-value="{{ this.status }}">
                                                        <span data-bs-html="true">
                                                            {{#ifCond this.status '==' 'active'}}
                                                                <span class="badge badge-success">Hoạt Động</span>
                                                            {{/ifCond}}
                                                            {{#ifCond this.status '==' 'limit'}}
                                                                <span class="badge badge-warning">Hết Lượt</span>
                                                            {{/ifCond}}
                                                            {{#ifCond this.status '==' 'expired'}}
                                                                <span class="badge badge-danger">Hết Hạn</span>
                                                            {{/ifCond}}
                                                        </span>
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.status }}">
                                                        <select style="width: 150px" class="form-control"
                                                                data-bs-edit="true">
                                                            <option value="active">Hoạt Động</option>
                                                            <option value="limit">Hết Lượt</option>
                                                            <option value="expired">Hết Hạn</option>
                                                        </select>
                                                    </span>
                                    </td>
                                    <td>{{ formatDate this.createdAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                    <td>{{ formatDate this.expiredAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                    <td class="text-center">
                                        <div class="flex-column">
                                            <a class="hand history-gift" data-id="{{ this._id }}">
                                                <span class="badge badge-light-dark"><i class="fa fa-eye"></i></span>
                                            </a>
                                            <a class="action-more" data-bs-submit="gift" data-bs-action="remove" data-id="{{ this._id }}">
                                                <span class="badge badge-light-danger"><i class="fa fa-trash"></i></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            {{else}}
                                <tr>
                                    <td colspan="24" class="text-center py-10">
                                        <div class="flex flex-col justify-center items-center gap-4 min-h-[150px]">
                                            <img src="../themes/admin/images/1.png" alt="Rỗng" class="w-20 h-20 object-contain" />
                                            <p class="text-gray-500 text-base">Không có dữ liệu!</p>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                        <div class="pagination-no_spacing">
                            <ul class="pagination">
                                {{#paginate pagination type="previous"}}
                                    <li><a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}" class="prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a></li>
                                {{/paginate}} {{#paginate pagination type="middle" limit=pagination.limit}}
                                <li><a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}" class="{{#if active}}active{{/if}}">{{n}}</a></li>
                            {{/paginate}} {{#paginate pagination type="next"}}
                                <li><a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}" class="next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a></li>
                            {{/paginate}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © <span class="dynamic-year">2022</span> <a target="_blank" href="">CuuDen</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</div>
<div class="modal fade" id="gift-history" data-bs-modal="gift-history" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <svg> ... </svg>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered border-secondary">
                    <thead>
                    <tr>
                        <th>Thành Viên</th>
                        <th>Thời Gian</th>
                        <th><span class="delete-history" data-id="all">
                            <i class="fa fa-times-circle" aria-hidden="true"></i></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="historyGift"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn btn-light-dark" data-bs-dismiss="modal"><i class="flaticon-cancel-12"></i> Đóng</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        $('body').on('click', '.history-gift', function (e) {
            let id = $(this).data('id');

            if (!id) {
                swal('Thông Báo', 'Dữ liệu không hợp lệ!', 'warning');
                return;
            }

            instance.get(`/history-gift/${id}`)
                    .then((result) => {
                        let response = result.data;

                        $('[data-bs-modal="gift-history"] h5.modal-title').html(`<i class="fa fa-gift" aria-hidden="true"></i> ${response.data.code}`);
                        $('#historyGift').html(!response.data.players.length ? `<tr><td class="py-10 text-center"colspan=24><div class="flex flex-col gap-4 items-center justify-center min-h-[150px]"><img alt=Rỗng class="h-20 object-contain w-20"src=../themes/admin/images/1.png><p class="text-base text-gray-500">Không có dữ liệu!</div>` : '');

                        response.data.players.map(obj => $('#historyGift').append(`<tr><td>${obj.username}</td><td>${moment(obj.time).format('HH:mm:ss DD-MM-YYYY')}</td><td><div class="table-actions hand"><span class="badge badge-danger delete-history" data-id="${response.data._id}" data-username="${obj.username}"><i class="fa fa-trash"></i></span></div></td></tr>`));
                        $('[data-bs-modal="gift-history"]').modal('show');
                    })
                    .catch((err) => {
                        swal('Thông Báo', err.message || err, 'error');
                    })
        })

        $('body').on('click', '.delete-history', function (e) {
            let id = $(this).data('id');
            let username = $(this).data('username');

            if (!id) {
                swal('Thông Báo', 'Dữ liệu không hợp lệ!', 'warning');
                return;
            }

            instance.post(`/history-gift/${id}`, { username })
                    .then((result) => {
                        let response = result.data;

                        response.success ? swal('Thông Báo', response.message, 'success') && setTimeout(() => window.location.reload(), 1000) : swal('Thông Báo', response.message, 'error');
                    })
                    .catch((err) => {
                        swal('Thông Báo', err.message || err, 'error');
                    })
        })
    })

    $('body').on('submit', '#formAdd', function (e) {
        e.preventDefault();
        let data = $(this).serialize();


        axios.post(`{{ adminPath }}/gift`, data)
                .then((result) => {
                    let res = result.data;

                    res.success ? swal('Thông báo', res.message, 'success') && setTimeout(() => window.location.reload(), 1500) : swal('Thông báo', res.message, 'error');

                })
                .catch((err) => {
                    $('textarea[name=error]').textContent(err.dataResult);
                    swal('Thông Báo', err.message || err, 'error');
                })
    })
</script>
{{>foot}}

