{{>head}}
{{>nav}}
<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="middle-content container-xxl p-0">
            <div class="secondary-nav">
                <div class="breadcrumbs-container" data-page-heading="Analytics">
                    <header class="header navbar navbar-expand-sm">
                        <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                        </a>
                        <div class="d-flex breadcrumb-content">
                            <div class="page-header">
                                <div class="page-title"><h3>{{ title }}</h3></div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="row layout-top-spacing">
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <select class="form-control br-30 page-selection" name="perPage" data-query="{{ checkQuery originalUrl.search 'perPage' }}">
                                {{#select perPage }}
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control br-30" name="gameType">
                                {{#select gameType }}
                                    <option value="">Trò chơi</option>
                                    {{#each ../games}}
                                        <option value="{{ this.gameType }}">{{ this.name }}</option>
                                    {{/each}}
                                    <option value="CLTX_TELEGRAM">CLTX Telegram</option>
                                    <option value="RUTTIEN">Rút tiền</option>
                                    <option value="GIFTCODE">Mã Quà</option>
                                    <option value="MISSION">Nhiệm vụ ngày</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control br-30" name="result">
                                {{#select result }}
                                    <option value="">Tất Cả</option>
                                    <option value="wait">Đợi Xử Lý</option>
                                    <option value="ok">Xong</option>
                                    <option value="refund">Hoàn Tiền</option>
                                    <option value="win">Thắng Cược</option>
                                    <option value="lose">Thua Cược</option>
                                    <option value="exceed">Sai Hạn Mức</option>
                                    <option value="bankError">Sai Bank Hưởng Thụ</option>
                                    <option value="wrong">Sai Nội Dung</option>
                                    <option value="notUser">Lỗi Thành Viên</option>
                                    <option value="error">Tất Cả Lỗi</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control br-30" name="paid">
                                {{#select paid }}
                                    <option value="">Tất Cả</option>
                                    <option value="wait">WAIT</option>
                                    <option value="hold">HOLD</option>
                                    <option value="sent">SENT</option>
                                    <option value="bankerror">BANHERROR</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-8 col-sm-9 filtered-list-search mx-auto">
                            <div class="form-inline my-2 my-lg-0 justify-content-center">
                                <div class="w-100">
                                    <input type="text" class="w-100 form-control product-search br-30" name="search" placeholder="Tìm kiếm" value="{{search}}">
                                    <button class="btn btn-primary _effect--ripple waves-effect waves-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead  class="text-center">
                            <tr>
                                <th style="width: 150px;">Mã Giao Dịch</th>
                                <th style="width: 150px;">Thành Viên</th>
                                <th style="width: 150px;">Trò Chơi {{{ tableSort originalUrl.search 'gameName' _sort }}}</th>
                                <th style="width: 150px;">Tiền Nhận {{{ tableSort originalUrl.search 'amount' _sort }}}</th>
                                <th style="width: 250px;">Nội Dung {{{ tableSort originalUrl.search 'comment' _sort }}}</th>
                                <th style="width: 150px;">Tiền Thưởng {{{ tableSort originalUrl.search 'bonus' _sort }}}</th>
                                <th style="width: 150px;">Trạng Thái {{{ tableSort originalUrl.search 'result' _sort }}}</th>
                                <th style="width: 150px;">Trả thưởng {{{ tableSort originalUrl.search 'paid' _sort }}}</th>
                                <th style="width: 250px;">Mô Tả</th>
                                <th style="width: 150px;">Người Chuyển</th>
                                <th style="width: 150px;">Người Nhận</th>
                                <th style="width: 250px;">Cập Nhật {{{ tableSort originalUrl.search 'updatedAt' _sort }}}</th>
                                <th style="width: 250px;">Thời Gian {{{ tableSort originalUrl.search 'createdAt' _sort }}}</th>
                                <th style="width: 250px;">Thời Gian Thực {{{ tableSort originalUrl.search 'timeTLS' _sort }}}</th>
                                <th>
                                    <span>
                                        <i class="fa fa-headphones" aria-hidden="true"></i>
                                    </span>
                                </th>
                            </tr>
                            </thead>
                            <tbody data-table="history" class="text-center">
                            {{#each list}}
                                <tr class="edit-one {{#ifCond this.action.length '>=' 1}}tr-warning{{/ifCond}}"
                                    data-id="{{ this._id }}">
                                    <td><span class="badge badge-secondary">{{ this.transId }}</span></td>
                                    <td>{{ this.username }}</td>
                                    <td>
                                        {{#if this.gameName}}
                                            <span class="badge badge-dark">{{ this.gameName }}</span>
                                        {{else}}
                                            <span class="badge badge--warning">Không Rõ</span>
                                        {{/if}}
                                    </td>
                                    <td>{{ numberFormat this.amount }}</td>
                                    <td data-bs-name="comment" data-bs-hasEdit="true" >
                                                        <span data-bs-table="html" data-bs-value="{{ this.comment }}">
                                                            <textarea style="width: 250px;"  class="form-control" data-bs-html="true">{{this.comment }}</textarea>
                                                        </span>
                                        <span data-bs-table="edit" data-bs-value="{{ this.comment }}" class="hidden">
                                                        <textarea class="form-control mb-2" rows="3"
                                                                  data-bs-edit="true">{{ this.comment }}</textarea>
                                                    </span>
                                    </td>
                                    <td>{{ numberFormat this.bonus }}</td>
                                    <td data-bs-name="result" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-value="{{ this.result }}">
                                                        <span data-bs-html="true">{{{ historyStatus
                                                                this.result }}}</span>
                                                    </span>
                                        <span data-bs-table="edit" data-bs-value="{{ this.result }}" class="hidden">
                                                        <select class="form-control"
                                                                data-bs-edit="true">
                                                            <option value="wait">Đợi Xử Lý</option>
                                                            <option value="withdraw">Rút Tiền</option>
                                                            <option value="limitBet">Sai Hạn Mức</option>
                                                            <option value="refund">Đã Hoàn Tiền</option>
                                                            <option value="win">Thắng Cược</option>
                                                            <option value="lose">Thua Cược</option>
                                                            <option value="errorMoney">Không Đủ Tiền</option>
                                                            <option value="phoneBlock">Đã Chặn</option>
                                                            <option value="ok">OK</option>
                                                            <option value="notUser">Lỗi Thành Viên</option>
                                                        </select>
                                                    </span>
                                    </td>
                                    <td data-bs-name="paid" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-value="{{ this.paid }}">
                                                        <span data-bs-html="true">{{{ historyPaidAdmin
                                                                this.paid }}}</span>
                                                    </span>
                                        <span data-bs-table="edit" data-bs-value="{{ this.paid }}" class="hidden">
                                                        <select class="form-control"
                                                                data-bs-edit="true">
                                                            <option value="wait">Đợi chuyển</option>
                                                            <option value="refund">Hoàn tiền</option>
                                                            <option value="sent">Đã chuyển</option>
                                                        </select>
                                                    </span>
                                    </td>
                                    <td><textarea class="form-control" style="width: 250px;">{{ this.description }}</textarea>
                                    </td>
                                    <td>{{ this.transfer }}</td>
                                    <td>{{ this.receiver }}</td>
                                    <td>{{ formatDate this.updatedAt 'DD-MM-YYYY HH:mm:ss'}}</td>
                                    <td>{{ formatDate this.createdAt 'DD-MM-YYYY HH:mm:ss'}}</td>
                                    <td>{{ formatDate this.timeTLS 'DD-MM-YYYY HH:mm:ss'}}</td>

                                    <td>
                                        <div class="flex-column">
                                            <a class="reCheck" data-action="reCheck" data-id="{{ this.transId }}">
                                                <span class="badge badge-light-dark"><i class="fa fa-reply"></i></span>
                                            </a>
                                            <a class="rewardCheck" data-action="reCheck" data-id="{{ this.transId }}">
                                                <span class="badge badge-light-dark"><i class="fa fa-envelope"></i></span>
                                            </a>
                                            <a class="action-more" data-bs-submit="history" data-bs-action="remove" data-id="{{ this._id }}">
                                                <span class="badge badge-light-danger"><i class="fa fa-trash"></i></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {{else}}
                                <tr>
                                    <td colspan="24" class="text-center py-10">
                                        <div class="flex flex-col justify-center items-center gap-4 min-h-[150px]">
                                            <img src="../themes/admin/images/1.png" alt="Rỗng" class="w-20 h-20 object-contain" />
                                            <p class="text-gray-500 text-base">Không có dữ liệu!</p>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                        <div class="pagination-no_spacing">
                            <ul class="pagination">
                                {{#paginate pagination type="previous"}}
                                    <li><a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}" class="prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a></li>
                                {{/paginate}} {{#paginate pagination type="middle" limit=pagination.limit}}
                                <li><a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}" class="{{#if active}}active{{/if}}">{{n}}</a></li>
                            {{/paginate}} {{#paginate pagination type="next"}}
                                <li><a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}" class="next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a></li>
                            {{/paginate}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © <span class="dynamic-year">2022</span> <a target="_blank" href="">CuuDen</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {

        $('body').on('click', '.action-more', function (e) {
            let _this = $(this);
            let action = _this.data('action');
            let id = _this.data('id');

            switch (action) {
                case 'balance':
                    _this.prop('disabled', true);
                    axios.post('{{adminPath}}/bank/balance', {id})
                            .then((result) => {
                                let response = result.data;

                                response.success ? swal('Thông Báo', response.message, 'success') && _this.parent().parent().parent().find('td.amount').html(`${Intl.NumberFormat('en-US').format(response.balance)}đ`) : swal('Thông Báo', response.message, 'error');
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                case 'refresh':
                    _this.prop('disabled', true);
                    axios.post('{{adminPath}}/bank/refresh', {id})
                            .then((result) => {
                                let response = result.data;

                                response.success ? swal('Thông Báo', response.message, 'success') : swal('Thông Báo', response.message, 'error');
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                default:
                    swal('Thông Báo', 'Thao tác không hợp lệ!', 'warning');
                    break;
            }
        })

        $('body').on('click', '.reCheck', function (e) {
            let transId = $(this).data('id');

            axios.post(`{{ adminPath }}/history/reCheck`, { transId })
                    .then((result) => {
                        let response = result.data;

                        response.success ? Swal.fire('Thông Báo', response.message, 'success') : Swal.fire('Thông Báo', response.message, 'error');

                        window.location.reload();
                    })
                    .catch((err) => {

                    })
        });

        $('body').on('click', '.rewardCheck', function (e) {
            let transId = $(this).data('id');

            axios.post(`{{ adminPath }}/history/rewardCheck`, { transId })
                    .then((result) => {
                        let response = result.data;

                        response.success ? Swal.fire('Thông Báo', response.message, 'success') : Swal.fire('Thông Báo', response.message, 'error');

                        setTimeout(function () {
                            window.location.reload();
                        }, 3000)
                    })
                    .catch((err) => {

                    })
        });

    })
</script>
{{>foot}}

