{{>head}}
{{>nav}}
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
            <div class="secondary-nav">
                <div class="breadcrumbs-container" data-page-heading="Analytics">
                    <header class="header navbar navbar-expand-sm">
                        <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                        </a>
                        <div class="d-flex breadcrumb-content">
                            <div class="page-header">
                                <div class="page-title"><h3>{{ title }}</h3></div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>

            <div class="row layout-top-spacing">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control br-30 page-selection" name="perPage" data-query="{{ checkQuery originalUrl.search 'perPage' }}">
                                {{#select perPage }}
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-9 filtered-list-search mx-auto">
                            <div class="form-inline my-2 my-lg-0 justify-content-center">
                                <div class="w-100">
                                    <input type="text" class="w-100 form-control product-search br-30" name="search" placeholder="Tìm kiếm" value="{{search}}">
                                    <button class="btn btn-primary _effect--ripple waves-effect waves-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered border-secondary">
                            <thead  class="text-center">
                            <tr>
                                <th>
                                    <i class="fa fa-headphones"></i>
                                </th>
                                <th>Tên Đăng Nhập</th>
                                <th>Số Dư</th>
                                <th>Thông Tin Bank</th>
                                <th>Telegram</th>
                                <th>TOKEN</th>
                                <th>IP</th>
                                <th>Đăng Nhập Cuối {{{ tableSort originalUrl.search 'lastOnline' _sort }}}</th>
                            </tr>
                            </thead>
                            <tbody data-table="members" class="text-center">
                            {{#each threads}}
                                <tr class="edit-one" data-id="{{ this._id }}">
                                    <td>
                                        <div class="flex-column">
<!--                                            <a class="reCheck" data-action="reCheck" data-id="{{ this.transId }}">-->
<!--                                                <span class="badge badge-light-dark"><i class="fa fa-lock"></i></span>-->
<!--                                            </a>-->
                                            <a class="action-more" data-bs-submit="members" data-bs-action="remove" data-id="{{ this._id }}">
                                                <span class="badge badge-light-danger"><i class="fa fa-trash"></i></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td><a href="{{../adminPath}}/?_username={{ this.username }}">{{ this.username }}</a></td>
                                    <td>{{ numberFormat this.balance }}</td>
                                    <td data-bs-hasEdit="true">
                                        <span class="badge badge-dark"><b>{{ this.bankInfo.accountNumber }} - {{ this.bankInfo.accountName }} - {{ bankName this.bankInfo.bankCode }}</b></span>
                                    </td>
                                    <td>
                                        <span class="badge badge-info">{{ this.telegram.chatId }}</span>
                                    </td>
                                    <td><span class="badge badge-secondary">{{ this.token }}</span></td>
                                    <td>{{ this.ip }}</td>
                                    <td>{{ formatDate this.lastOnline 'HH:mm:ss DD-MM-YYYY'}}</td>
                                </tr>
                            {{else}}
                                <tr>
                                    <td colspan="24" class="text-center py-10">
                                        <div class="flex flex-col justify-center items-center gap-4 min-h-[150px]">
                                            <img src="../themes/admin/images/1.png" alt="Rỗng" class="w-20 h-20 object-contain" />
                                            <p class="text-gray-500 text-base">Không có dữ liệu!</p>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                        <div class="pagination-no_spacing">
                            <ul class="pagination">
                                {{#paginate pagination type="previous"}}
                                    <li><a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}" class="prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a></li>
                                {{/paginate}} {{#paginate pagination type="middle" limit=pagination.limit}}
                                <li><a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}" class="{{#if active}}active{{/if}}">{{n}}</a></li>
                            {{/paginate}} {{#paginate pagination type="next"}}
                                <li><a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}" class="next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a></li>
                            {{/paginate}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © <span class="dynamic-year">2022</span> <a target="_blank" href="">CuuDen</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
{{>foot}}

