{{>head}}
{{>nav}}
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
            <div class="secondary-nav">
                <div class="breadcrumbs-container" data-page-heading="Analytics">
                    <header class="header navbar navbar-expand-sm">
                        <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                        </a>
                        <div class="d-flex breadcrumb-content">
                            <div class="page-header">
                                <div class="page-title"><h3>{{ title }}</h3></div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <!--  END BREADCRUMBS  -->

            <div class="row layout-top-spacing">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control br-30" name="status">
                                {{#select status }}
                                    <option value="">Trạng thái</option>
                                    <option value="active">Hoạt Động</option>
                                    <option value="limit">Giới Hạn</option>
                                    <option value="pending">Tạm Dừng</option>
                                    <option value="error">Lỗi Số</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control br-30" name="loginStatus">
                                {{#select loginStatus }}
                                    <option value="">Đăng Nhập</option>
                                    <option value="refreshError">Lỗi Refresh</option>
                                    <option value="waitLogin">Đợi Đăng Nhập</option>
                                    <option value="errorLogin">Lỗi Đăng Nhập</option>
                                    <option value="active">Hoạt Động</option>
                                    <option value="waitOTP">Đợi OTP</option>
                                    <option value="waitSend">Đợi Gửi OTP</option>
                                    <option value="error">Lỗi</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-9 filtered-list-search mx-auto">
                            <div class="form-inline my-2 my-lg-0 justify-content-center">
                                <div class="w-100">
                                    <input type="text" class="w-100 form-control product-search br-30" name="search" placeholder="Tìm kiếm" value="{{search}}">
                                    <button class="btn btn-primary _effect--ripple waves-effect waves-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <form action="#" method="post" id="formAdd">
                                <div class="form-group">
                                    <label class="il-gray fs-14 fw-500 mb-10">Thể loại momo</label>
                                    <select class="form-control ih-medium ip-light" name="type">
                                        <option value="">Vui lòng chọn thẻ loại</option>
                                        <option value="normal">Thường</option>
                                        <option value="business">Doanh nghiệp</option>
                                        <option value="file">File</option>
                                    </select>
                                </div>
                                <div id="formMomo">
                                </div>
                                <button type="submit" class="btn btn-success w-100 mt-2 action-add" data-action="otp">Thêm</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                    <div class="widget-four">
                        <div class="widget-heading">
                            <h5 class="">Thống kê</h5>
                        </div>
                        <div class="widget-content">
                            <div class="vistorsBrowser">
                                <div class="browser-list">
                                    <div class="w-icon">
                                        <img src="https://cdn-icons-png.freepik.com/512/6020/6020687.png">
                                    </div>
                                    <div class="w-browser-details">
                                        <div class="w-browser-info">
                                            <h6>Tổng tiền</h6>
                                            <p class="browser-count">{{ numberFormat totalBalance  }}</p>
                                        </div>
                                        <div class="w-browser-stats">
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 100%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="browser-list">
                                    <div class="w-icon">
                                        <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/02/Icon-MB-Bank-MBB.png">
                                    </div>
                                    <div class="w-browser-details">
                                        <div class="w-browser-info">
                                            <h6>Ngân hàng</h6>
                                            <p class="browser-count">{{ calculatePercentage countBank totalBalance  }}%</p>
                                        </div>
                                        <div class="w-browser-stats">
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: {{ calculatePercentage countBank totalBalance  }}%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="browser-list">
                                    <div class="w-icon">
                                        <img src="https://pay2s.vn/blog/wp-content/uploads/2024/11/momo_icon_circle_pinkbg_RGB-1024x1024.png">
                                    </div>
                                    <div class="w-browser-details">

                                        <div class="w-browser-info">
                                            <h6>Momo</h6>
                                            <p class="browser-count">{{ calculatePercentage countMomo totalBalance  }}%</p>
                                        </div>

                                        <div class="w-browser-stats">
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: {{ calculatePercentage countMomo totalBalance  }}%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="browser-list">
                                    <div class="w-icon">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Icon_of_Zalo.svg/2048px-Icon_of_Zalo.svg.png">
                                    </div>
                                    <div class="w-browser-details">

                                        <div class="w-browser-info">
                                            <h6>Zalo</h6>
                                            <p class="browser-count">{{ calculatePercentage countZalo totalBalance  }}%</p>
                                        </div>

                                        <div class="w-browser-stats">
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: {{ calculatePercentage countZalo totalBalance  }}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                {{#each list}}
                                    <div class="browser-list">
                                        <div class="w-icon">
                                            <img src="https://pay2s.vn/blog/wp-content/uploads/2024/11/momo_icon_circle_pinkbg_RGB-1024x1024.png">
                                        </div>
                                        <div class="w-browser-details">
                                            <div class="w-browser-info">
                                                <h6>{{ this.accountNumber }}</h6>
                                                <p class="browser-count">{{ calculatePercentage this.balance ../totalBalance  }}%</p>
                                            </div>
                                            <div class="w-browser-stats">
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-dark" role="progressbar" style="width: {{ calculatePercentage this.balance ../totalBalance  }}%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="table-responsive">
                        <table class="table table-bordered border-secondary">
                            <thead  class="text-center">
                            <tr>
                                <th style="width: 200px">
                                    Thao tác
                                </th>
                                <th>Số Điện Thoại</th>
                                <th>Tên Tài Khoản</th>
                                <th>Số Dư {{{ tableSort originalUrl.search 'balance' _sort }}}</th>
                                <th>Số Lần {{{ tableSort originalUrl.search 'number' _sort }}}</th>
                                <th>Cược Min {{{ tableSort originalUrl.search 'betMin' _sort }}}</th>
                                <th>Cược Max {{{ tableSort originalUrl.search 'betMax' _sort }}}</th>
                                <th>Giới Hạn Ngày {{{ tableSort originalUrl.search 'limitDay' _sort }}}
                                </th>
                                <th>Giới Hạn Tháng {{{ tableSort originalUrl.search 'limitMonth' _sort}}}</th>
                                <th>Trạng Thái {{{ tableSort originalUrl.search 'status' _sort }}}</th>
                                <th>Đăng Nhập {{{ tableSort originalUrl.search 'loginStatus' _sort }}}
                                </th>
                                <th>Mô Tả</th>
                                <th>Chuyển Ngày</th>
                                <th>Nhận Ngày</th>
                                <th>Chuyển Tháng</th>
                                <th>Nhận Tháng</th>
                                <th>Đăng nhập lúc {{{ tableSort originalUrl.search 'updatedAt' _sort }}}
                                </th>
                                <th>Cập Nhập {{{ tableSort originalUrl.search 'updatedAt' _sort }}}
                                </th>
                                <th>Thời Gian {{{ tableSort originalUrl.search 'createdAt' _sort }}}
                                </th>
                            </tr>
                            </thead>
                            <tbody data-table="bank" class="text-center">
                            {{#each list}}
                                <tr class="edit-one" data-id="{{ this._id }}">
                                    <td>
                                        <div class="table-actions hand p-2">
                                                         <span class="badge badge-dark action-more"
                                                               data-action="export" data-id="{{ this.phone }}"
                                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                                               data-bs-original-title="Xuất dữ liệu"><i
                                                                 class="fas fa-file-export"></i></span>
                                            <span class="badge badge-success action-more"
                                                  data-action="qr" data-id="{{ this.phone }}"
                                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                                  data-bs-original-title="Lấy QR"><i
                                                    class="fas fa-qrcode"></i></span>
                                            <span class="badge badge-warning action-more"
                                                  data-action="balance" data-id="{{ this.phone }}"
                                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                                  data-bs-original-title="Cập nhập số dư"><i
                                                    class="fas fa-coins"></i></span>
                                            <span class="badge badge-success action-more"
                                                  data-action="refresh" data-id="{{ this.phone }}"
                                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                                  data-bs-original-title="Cập nhập token"><i
                                                    class="fas fa-redo-alt"></i></span>
                                            <a href="./home?_phone={{ this.phone }}"
                                            class="badge badge-info" data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            data-bs-original-title="Xem doanh thu số"><i
                                                class="fa fa-eye" aria-hidden="true"></i></a>
                                            <span class="badge badge-danger" data-bs-submit="momo-list"
                                                  data-bs-action="remove" data-id="{{ this._id }}"
                                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                                  data-bs-original-title="Xóa"><i class="fa fa-trash"
                                                                                  aria-hidden="true"></i></span>
                                        </div>
                                    </td>
                                    <td>{{ this.phone }}</td>
                                    <td>{{ this.name }}</td>
                                    <td class="balance">{{ numberFormat this.balance }}</td>
                                    <td data-bs-name="number" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.number }}">
                                                        <span data-bs-html="true">{{ numberFormat this.number }}</span>
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.number }}">
                                                        <input type="text" class="form-control ih-medium ip-light mb-2"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td data-bs-name="betMin" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.betMin }}">
                                                        <span data-bs-html="true">{{ numberFormat this.betMin }}</span>
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.betMin }}">
                                                        <input type="text" class="form-control ih-medium ip-light mb-2"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td data-bs-name="betMax" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.betMax }}">
                                                        <span data-bs-html="true">{{ numberFormat this.betMax }}</span>
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.betMax }}">
                                                        <input type="text" class="form-control ih-medium ip-light mb-2"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td data-bs-name="limitDay" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.limitDay }}">
                                                        <span data-bs-html="true">{{ numberFormat this.limitDay
                                                        }}</span>
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.limitDay }}">
                                                        <input type="text" class="form-control ih-medium ip-light mb-2"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td data-bs-name="limitMonth" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-key="format"
                                                          data-bs-value="{{ this.limitMonth }}">
                                                        <span data-bs-html="true">{{ numberFormat this.limitMonth
                                                        }}</span>
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.limitMonth }}">
                                                        <input type="text" class="form-control ih-medium ip-light mb-2"
                                                               data-bs-edit="true">
                                                    </span>
                                    </td>
                                    <td data-bs-name="status" data-bs-hasEdit="true">
                                                    <span data-bs-table="html" data-bs-value="{{ this.status }}">
                                                        <span data-bs-html="true">{{{ momoStatus this.status }}}</span>
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.status }}">
                                                        <select class="form-control ih-medium ip-light mb-2"
                                                                data-bs-edit="true">
                                                            <option value="active">Hoạt Động</option>
                                                            <option value="limit">Giới Hạn</option>
                                                            <option value="pending">Tạm Dừng</option>
                                                            <option value="error">Lỗi Số</option>
                                                        </select>
                                                    </span>
                                    </td>
                                    <td data-bs-name="loginStatus" data-bs-hasEdit="true">
                                                    <span  data-bs-table="html" data-bs-value="{{ this.loginStatus }}">
                                                        <span data-bs-html="true">{{{ loginStatus this.loginStatus
                                                        }}}</span>
                                                    </span>
                                        <span class="hidden" data-bs-table="edit" data-bs-value="{{ this.loginStatus }}">
                                                        <select class="form-control ih-medium ip-light mb-2"
                                                                data-bs-edit="true">
                                                            <option value="refreshError">Lỗi Refresh</option>
                                                            <option value="waitLogin">Đợi Đăng Nhập</option>
                                                            <option value="errorLogin">Lỗi Đăng Nhập</option>
                                                            <option value="active">Hoạt Động</option>
                                                            <option value="waitOTP">Đợi OTP</option>
                                                            <option value="waitSend">Đợi Gửi OTP</option>
                                                            <option value="error">Lỗi</option>
                                                        </select>
                                                    </span>
                                    </td>
                                    <td><textarea style="width: 250px;" class="form-control">{{ this.description }}</textarea>
                                    </td>
                                    <td>{{ numberFormat this.amountDay }}</td>
                                    <td>{{ numberFormat this.receiptDay }}</td>
                                    <td>{{ numberFormat this.amountMonth }}</td>
                                    <td>{{ numberFormat this.receiptMonth }}</td>
                                    <td>{{ formatDate this.loginAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                    <td>{{ formatDate this.updatedAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                    <td>{{ formatDate this.createdAt 'HH:mm:ss DD-MM-YYYY'}}</td>
                                </tr>
                            {{else}}
                                <tr>
                                    <td colspan="24">
                                        <div class="dm-empty text-center">
                                            <div class="dm-empty__image">
                                                <img src="../themes/admin/images/1.png" alt="Rỗng">
                                            </div>
                                            <div class="dm-empty__text">
                                                <p class="">Không có dữ liệu !</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © <span class="dynamic-year">2022</span> <a target="_blank" href="">CuuDen</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</div>
<script src="
https://cdn.jsdelivr.net/npm/qr-code-styling@1.8.4/lib/qr-code-styling.min.js
"></script>
<script type="text/javascript">
    $(document).ready(function (e) {

        $('body').on('click', '.action-more', function (e) {
            let _this = $(this);
            let action = _this.data('action');
            let phone = _this.data('id');

            switch (action) {
                case 'qr':
                    _this.prop('disabled', true);
                    axios.post('/api/v2/momo/qr', {phone})
                            .then((result) => {
                                let response = result.data;

                                console.log(response);

                                if (response.success) {
                                    $('#qrModal').modal('show');
                                    loadQR(response.data.accountNumber, 'https://developers.momo.vn/v3/assets/images/square-8c08a00f550e40a2efafea4a005b1232.png', '#0070FF');
                                }

                                response.success ? swal('Thông Báo', response.message, 'success') : swal('Thông Báo', response.message, 'error');
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                case 'noti':
                    _this.prop('disabled', true);
                    axios.post('/api/v2/momo/noti', {phone})
                            .then((result) => {
                                let response = result.data;

                                response.success ? swal('Thông Báo', response.message, 'success') : swal('Thông Báo', response.message, 'error');
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                case 'export':
                    _this.prop('disabled', true);
                    axios.post('/api/v2/momo/export', {phone})
                            .then((result) => {
                                let response = result.data;

                                // if(response.success) {
                                const jsonString = JSON.stringify(response);
                                const file = new Blob([jsonString], {type: 'application/json'});

                                // Create a link element to trigger the download
                                const link = document.createElement('a');
                                link.href = URL.createObjectURL(file);
                                link.download = phone + '.json'; // Set the download filename

                                // Append the link to the body, click it to start the download, and remove it
                                document.body.appendChild(link);
                                link.click();
                                // swal('Thông Báo', response.message, 'success')
                                // } else {
                                //     swal('Thông Báo', response.message, 'error')
                                // }
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                case 'balance':
                    _this.prop('disabled', true);
                    axios.post('/api/v2/momo/balance', {phone})
                            .then((result) => {
                                let response = result.data;

                                response.success ? swal('Thông Báo', response.message, 'success') && _this.parent().parent().parent().find('td.amount').html(`${Intl.NumberFormat('en-US').format(response.balance)}đ`) : swal('Thông Báo', response.message, 'error');
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                case 'refresh':
                    _this.prop('disabled', true);
                    axios.post('/api/v2/momo/refresh', {phone})
                            .then((result) => {
                                let response = result.data;

                                response.success ? swal('Thông Báo', response.message, 'success') : swal('Thông Báo', response.message, 'error');
                            })
                            .catch(err => swal('Thông Báo', `Có lỗi xảy ra ${err.message || err}`, 'warning'))
                            .finally(() => _this.prop('disabled', false))
                    break;
                default:
                    swal('Thông Báo', 'Thao tác không hợp lệ!', 'warning');
                    break;
            }
        })

        $('select[name=type]').on('change', function () {
            let typeMomo = $(this).val();
            // $('#formMomo').append();
            if (typeMomo === 'normal') {
                $('#formMomo').html('').html('<div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">Số Điện Thoại</label> <input class="form-control ih-medium ip-light"name=phone placeholder="Nhập số điện thoại..."></div><div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">Mật Khẩu</label> <input class="form-control ih-medium ip-light"name=password placeholder="Nhập mật khẩu"type=password></div><div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">OTP</label> <input class="form-control ih-medium ip-light"name=otp placeholder="Nhập otp nếu có"type=number></div><div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">PROXY</label> <input class="form-control ih-medium ip-light"name=proxy readonly></div><div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">IMEI</label> <input class="form-control ih-medium ip-light"name=imei readonly></div><div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">Kết quả</label> <textarea class="form-control ih-medium ip-light"name=error rows=5></textarea></div>')
            } else if (typeMomo === 'business') {
                $('#formMomo').html('').html('<div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">Số Điện Thoại</label> <input class="form-control ih-medium ip-light"name=phone placeholder="Nhập số điện thoại..."></div><div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">Mật Khẩu</label> <input class="form-control ih-medium ip-light"name=password placeholder="Nhập mật khẩu"type=password></div><div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">storeKey</label> <input class="form-control ih-medium ip-light"name=storeKey placeholder="Nhập storeId"></div><div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">partnerCode</label> <input class="form-control ih-medium ip-light"name=partnerCode placeholder="Nhập partnerCode"></div><div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">accessKey</label> <input class="form-control ih-medium ip-light"name=accessKey placeholder="Nhập accessKey"></div><div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">secretKey</label> <input class="form-control ih-medium ip-light"name=secretKey placeholder="Nhập secretKey"></div>')
            } else if (typeMomo === 'file') {
                $('#formMomo').html('').html('<div class=form-group><label class="fs-14 fw-500 il-gray mb-10"for="">File Json</label><input class="form-control ih-medium ip-light" type="file" id="jsonFile" name="file" accept=".json"></div>')
            } else {
                $('#formMomo').html('');
            }

        });

        function loadQR(data, img, bgc) {
            qrCode = new QRCodeStyling({
                width: 200,
                height: 200,
                data: '00020101021138620010A00000072701320006970454011899MM23332M575816780208QRIBFTTA53037045802VN62190515MOMOW2W575816786304164E' + data,
                image: img,
                dotsOptions: { color: bgc, type: "rounded" },
                backgroundOptions: { color: "#FFF" },
                imageOptions: { crossOrigin: "anonymous", margin: 5, imageSize: 0.5 },
            });
            console.log(qrCode);
            $("#canvasQr").html(""), qrCode.append(document.getElementById("canvasQr"));
        }

        $(document).on("click", ".qrc", function () {
            var bankCode = $(this).attr('data-bankcode');
            var bgc = "#11089c";
            if (bankCode == '970436') {
                bgc = "#136c3d";
            }
            else if (bankCode == "970418") {
                bgc = "#046c6c";
            }
            else if (bankCode == "970407") {
                bgc = "#f01c24";
            }
            else if (bankCode == "970415") {
                bgc = "#93d5f6";
            }
            else if (bankCode == "970416") {
                bgc = "#0070FF";
            }
            else if (bankCode == "9902") {
                bgc = "#008fe5";
            }
            else if (bankCode == "9903") {
                bgc = "#c86b9f";
            }
            else if (bankCode == "9901") {
                bgc = "#000";
            }
            var img = window.location.protocol + '//' + window.location.host + '/client/img/banks/' + bankCode + '.png';
            var data = $(this).attr('data-content');
            var md = $('#qr-download').attr("mobile-device");
            if (bankCode == "ZLP") {
                $('.qr-notes').show();
            }
            else {
                $('.qr-notes').hide();
            }
            if (bankCode == "ZLP" && md == "1") {
                $('#qr-download').text('Thanh Toán Ngay').attr("data-content", data);
            }
            else {
                $('#qr-download').text('Tải QrCode về máy').attr("data-content", "");
            }
            loadQR(data, img, bgc);
        });

        $('body').on('submit', '#formAdd', function (e) {
            e.preventDefault();
            let action = $('.action-add').data('action');
            let data = $(this).serialize();

            let convertData = data.split('=');

            $('.action-add').html(`<div class="dm-spin-dots spin-sm"><span class="spin-dot badge-dot dot-light"></span><span class="spin-dot badge-dot dot-light"></span><span class="spin-dot badge-dot dot-light"></span><span class="spin-dot badge-dot dot-light"></span></div>`).prop('disabled', true);

            if (convertData[1] === 'file') {

                const fileInput = document.getElementById('jsonFile');

                if (fileInput.files.length === 0) {
                    alert("Please select a JSON file.");
                    return;
                }

                // Get the selected file
                const file = fileInput.files[0];

                // Check if the file is a JSON file
                if (file.type !== "application/json") {
                    alert("Please select a valid JSON file.");
                    return;
                }

                // Create a FileReader to read the file
                const reader = new FileReader();

                // Define the onload event handler for the FileReader
                reader.onload = function (event) {
                    // Get the file content
                    const fileContent = event.target.result;

                    try {
                        // Parse the JSON content
                        const jsonData = JSON.parse(fileContent);

                        axios.post(`/api/v2/momo/${action}`, jsonData)

                                .then((result) => {
                                    const res = result.data;
                                    $('.action-add').html(action == 'otp' ? (res.success ? 'Xác Nhận' : 'Thêm') : (action == 'confirm' ? (res.success ? 'Đăng Nhập' : 'Xác Nhận') : 'Thêm')).prop('disabled', false);
                                    if (res.success) {
                                        swal('Thông báo', res.message, 'success');
                                        setTimeout(() => window.location.reload(), 1500);  // Reload after success
                                    } else {
                                        swal('Thông báo', res.message, 'error');
                                    }
                                })
                                .catch((err) => {
                                    swal('Thông Báo', err.message || err, 'error');
                                });
                    } catch (error) {
                        // Handle JSON parsing error
                        swal('Error', 'Invalid JSON format', 'error');
                    }
                };

                // Read the file as text
                reader.readAsText(file);

                console.log('Gui du lieu momo bang json')
            } else {
                axios.post(`/api/v2/momo/${action}`, data)
                        .then((result) => {
                            let res = result.data;

                            $('.action-add').html(action == 'otp' ? (res.success ? 'Xác Nhận' : 'Thêm') : (action == 'confirm' ? (res.success ? 'Đăng Nhập' : 'Xác Nhận') : 'Thêm')).prop('disabled', false);

                            switch (action) {
                                case 'otp':
                                    res.success ? swal('Thông báo', res.message, 'success') && $('input[name=proxy]').val(res.proxy) && $('.action-add').data('action', 'confirm') : swal('Thông báo', res.message, 'error');
                                    break;
                                case 'confirm':
                                    res.success ? swal('Thông báo', res.message, 'success') && $('input[name=imei]').val(res.imei) && $('.action-add').data('action', 'login') : swal('Thông báo', res.message, 'error');
                                    break;
                                case 'login':
                                    res.success ? swal('Thông báo', res.message, 'success') && setTimeout(() => window.location.reload(), 1500) : swal('Thông báo', res.message, 'error');
                                    break;
                            }
                        })
                        .catch((err) => {
                            $('textarea[name=error]').textContent(err.dataResult);
                            swal('Thông Báo', err.message || err, 'error');
                        })
            }
        })
    })
</script>
{{>foot}}

