{{>head}}
{{>nav}}
<main class="main-content">
    <div class="contents">
        <div class="crm mb-25">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-main">
                            <h4 class="text-capitalize breadcrumb-title">{{ title }}</h4>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-20">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title">
                                    <a href="{{ originalUrl.pathname }}" class="text-dark">
                                        <img src="../themes/admin/images/player.png" alt="" width="35">
                                        Danh Sách Người Chơi
                                        <img src="../themes/admin/images/player.png" class="d-md-none" width="35">
                                    </a>
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="userDatatable adv-table-table global-shadow border-light-0 adv-table">
                                    <div id="filter-form-container"
                                        class="footable-filtering-external footable-filtering-right">
                                        <form>
                                            <div class="form-inline">
                                                <div
                                                    class="form-group d-flex align-items-center adv-table-searchs__status mb-3 me-sm-30 me-0">
                                                    <label
                                                        class="d-flex align-items-center mb-sm-0 mb-2 fs-15 fw-500">Từ
                                                        Ngày</label>
                                                    <input type="date" name="startTime"
                                                        class="form-control ms-sm-10 ms-0 ih-medium ip-light"
                                                        value="{{ startTime }}">
                                                </div>
                                                <div
                                                    class="form-group d-flex align-items-center adv-table-searchs__status mb-3 me-sm-30 me-0">
                                                    <label
                                                        class="d-flex align-items-center mb-sm-0 mb-2 fs-15 fw-500">Đến
                                                        Ngày</label>
                                                    <input type="date" name="endTime"
                                                        class="form-control ms-sm-10 ms-0 ih-medium ip-light"
                                                        value="{{ endTime }}">
                                                </div>
                                                <div
                                                    class="form-group d-flex align-items-center adv-table-searchs__status mb-3 me-sm-30 me-0">
                                                    <label
                                                        class="d-flex align-items-center mb-sm-0 mb-2 fs-15 fw-500">Theo
                                                        Ngày</label>
                                                    <input type="date" name="dateTime"
                                                        class="form-control ms-sm-10 ms-0 ih-medium ip-light"
                                                        value="{{ dateTime }}">
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-md-10">
                                                    <div class="form-group mb-3 hand">
                                                        <div class="input-group">
                                                            <input type="search" name="phone" class="form-control"
                                                                value="{{ phone }}"
                                                                placeholder="Nhập số điện thoại cần tìm...">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group mb-3">
                                                        <button class="btn btn-primary btn-sm btn-block"><i
                                                                class="fa fa-search" aria-hidden="true"></i> Tìm
                                                            kiếm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="content-center mb-3">
                                    <button class="btn btn-secondary">Doanh Thu: {{ numberFormat earningCount
                                        }}đ</button>
                                </div>
                                <div class="table-responsive mb-3">
                                    <table
                                        class="table table-vcenter text-nowrap table-bordered text-center table-mb sort-table">
                                        <thead class="badge-secondary text-white">
                                            <tr>
                                                <th>Số Điện Thoại</th>
                                                <th>Tổng Ván {{{ tableSort originalUrl.search 'total' _sort }}}</th>
                                                <th>Tổng Cược {{{ tableSort originalUrl.search 'amount' _sort }}}</th>
                                                <th>Tổng Thắng {{{ tableSort originalUrl.search 'bonus' _sort }}}</th>
                                                <th>Lợi Nhuận {{{ tableSort originalUrl.search 'earning' _sort }}}</th>
                                            </tr>
                                        </thead>
                                        <tbody data-table="player">
                                            {{#each players}}
                                            <tr>
                                                <td>{{ this._id }}</td>
                                                <td>{{ numberFormat this.total }}</td>
                                                <td>{{ numberFormat this.amount }}đ</td>
                                                <td>{{ numberFormat this.bonus }}đ</td>
                                                <td>{{ numberFormat this.earning }}đ</td>
                                            </tr>
                                            {{else}}
                                            <tr>
                                                <td colspan="12">
                                                    <div class="dm-empty text-center">
                                                        <div class="dm-empty__image">
                                                            <img src="../themes/admin/images/1.png" alt="Rỗng">
                                                        </div>
                                                        <div class="dm-empty__text">
                                                            <p class="">Không có dữ liệu !</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <nav class="dm-page">
                                        <ul class="dm-pagination d-flex">
                                            <li class="dm-pagination__item">
                                                {{#paginate pagination type="previous"}}
                                                <a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}"
                                                    class="dm-pagination__link pagination-control {{#if disabled}}disabled{{/if}}">
                                                    <span class="la la-angle-left"></span>
                                                </a>
                                                {{/paginate}}
                                                {{#paginate pagination type="middle" limit=pagination.limit}}
                                                <a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}"
                                                    class="dm-pagination__link {{#if active}}active{{/if}}"><span
                                                        class="page-number">{{n}}</span>
                                                </a>
                                                {{/paginate}}
                                                {{#paginate pagination type="next"}}
                                                <a href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}"
                                                    class="dm-pagination__link pagination-control {{#if disabled}}disabled{{/if}}">
                                                    <span class="la la-angle-right"></span>
                                                </a>
                                                {{/paginate}}
                                            </li>
                                            <li class="dm-pagination__item">
                                                <div class="paging-option">
                                                    <select name="perPage" class="page-selection"
                                                        data-query="{{ checkQuery originalUrl.search 'perPage' }}">
                                                        {{#select perPage }}
                                                        <option value="10">10/page</option>
                                                        <option value="20">20/page</option>
                                                        <option value="40">40/page</option>
                                                        <option value="60">60/page</option>
                                                        <option value="100">100/page</option>
                                                        <option value="200">200/page</option>
                                                        <option value="500">500/page</option>
                                                        {{/select}}
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{>foot}}