{{>head}}
<body class="antialiased flex h-full text-base text-foreground bg-background [--header-height:60px] [--sidebar-width:290px] bg-muted! lg:overflow-hidden">
<!-- Theme Mode -->
<script>
    const defaultThemeMode = 'light'; // light|dark|system
    let themeMode;

    if (document.documentElement) {
        if (localStorage.getItem('kt-theme')) {
            themeMode = localStorage.getItem('kt-theme');
        } else if (
                document.documentElement.hasAttribute('data-kt-theme-mode')
        ) {
            themeMode =
                    document.documentElement.getAttribute('data-kt-theme-mode');
        } else {
            themeMode = defaultThemeMode;
        }

        if (themeMode === 'system') {
            themeMode = window.matchMedia('(prefers-color-scheme: dark)').matches
                    ? 'dark'
                    : 'light';
        }

        document.documentElement.classList.add(themeMode);
    }
</script>
<div class="flex grow">
    <header class="flex lg:hidden items-center fixed z-10 top-0 start-0 end-0 shrink-0 bg-muted h-(--header-height)" id="header">
        <!-- Container -->
        <div class="kt-container-fluid flex items-center justify-between flex-wrap gap-3">
            <a href="/metronic/tailwind/demo4/">
                <img class="dark:hidden min-h-[30px]" src="/static/metronic/tailwind/dist/assets/media/app/mini-logo-gray.svg"/>
                <img class="hidden dark:block min-h-[30px]" src="/static/metronic/tailwind/dist/assets/media/app/mini-logo-gray-dark.svg"/>
            </a>
            <button class="kt-btn kt-btn-icon kt-btn-ghost -me-2" data-kt-drawer-toggle="#sidebar">
                <i class="ki-filled ki-menu">
                </i>
            </button>
        </div>
        <!-- End of Container -->
    </header>
    <div class="flex flex-col lg:flex-row grow pt-(--header-height) lg:pt-0">
        {{>nav}}
        <div class="flex grow rounded-xl bg-background border border-input lg:ms-(--sidebar-width) mt-0 lg:mt-5 m-5">
            <div class="flex flex-col grow kt-scrollable-y-auto lg:[--kt-scrollbar-width:auto] pt-5" id="scrollable_content">
                <main class="grow" role="content">
                    <div class="pb-5">
                        <div class="kt-container-fluid flex items-center justify-between flex-wrap gap-3">
                            <div class="flex items-center flex-wrap gap-1 lg:gap-5">
                                <h1 class="font-medium text-base text-mono">
                                    {{ title }}
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="kt-container-fluid">
                        <div class="space-y-3 text-sm">
                            <div class="flex items-center gap-2.5" data-kt-tabs="true">
                                <button class="kt-btn kt-btn-outline active" data-kt-tab-toggle="#tab_1_1"><img src="../themes/admin/images/setting.png" alt="" width="20"> Cài Đặt Hệ Thống</button>
                            </div>
                            <div class="text-sm">
                                <div class="" id="tab_1_1">
                                    <div class="kt-card w-[400px]">
                                        <div class="kt-card-content py-5">
                                            <div class="space-y-5">
                                                <div class="kt-form-item">
                                                    <label class="kt-form-label">X3</label>
                                                    <div class="kt-form-control">
                                                        <select data-kt-select="true" name="x3" class="kt-select" data-kt-select-placeholder="Chọn số điện thoại">
                                                            {{#select settings.x3 }}
                                                                <option value="active">Bật</option>
                                                                <option value="inactive">Tắt</option>
                                                            {{/select }}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="grid lg:grid-cols-2 gap-5 lg:gap-7.5 items-stretch">
                                                    <div class="lg:col-span-1">
                                                        <div class="kt-form-item">
                                                            <label class="kt-form-label">Tên Website</label>
                                                            <div class="kt-form-control">
                                                                <input type="text" class="kt-input" name="nameSite" value="{{ settings.nameSite }}"
                                                                       placeholder="Nhập tên website của bạn">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="lg:col-span-1">
                                                        <div class="kt-form-item">
                                                            <label class="kt-form-label">Tiêu Đề</label>
                                                            <div class="kt-form-control">
                                                                <input type="text" class="kt-input" name="defaultTitle" value="{{ settings.defaultTitle }}"
                                                                       placeholder="Nhập tiêu đề website">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid lg:grid-cols-3 gap-5 lg:gap-7.5 items-stretch">
                                                    <div class="lg:col-span-1">
                                                        <div class="kt-form-item">
                                                            <label class="kt-form-label">Icon Website</label>
                                                            <div class="kt-form-control">
                                                                <input type="text" class="kt-input" name="favicon" value="{{ settings.favicon }}"
                                                                       placeholder="Nhập link icon website của bạn">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="lg:col-span-1">
                                                        <div class="kt-form-item">
                                                            <label class="kt-form-label">Logo Website</label>
                                                            <div class="kt-form-control">
                                                                <input type="text" class="kt-input" name="logo"
                                                                       value="{{ settings.logo }}"
                                                                       placeholder="Nhập link logo website của bạn">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="lg:col-span-1">
                                                        <div class="kt-form-item">
                                                            <label class="kt-form-label">Thumbnail</label>
                                                            <div class="kt-form-control">
                                                                <input type="text" class="kt-input" name="thumbnail" value="{{ settings.thumbnail }}"
                                                                       placeholder="Nhập link thumbnail website">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid lg:grid-cols-2 gap-5 lg:gap-7.5 items-stretch">
                                                    <div class="lg:col-span-1">
                                                        <div class="kt-form-item">
                                                            <label class="kt-form-label">Mô Tả</label>
                                                            <div class="kt-form-control">
                                                                <textarea type="text" class="kt-textarea" name="description" rows="5"
                                                                          placeholder="Nhập mô tả website của bạn"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="lg:col-span-1">
                                                        <div class="kt-form-item">
                                                            <label class="kt-form-label">Từ Khóa</label>
                                                            <div class="kt-form-control">
                                                                <textarea type="text" class="kt-textarea"  name="keywords" rows="5"
                                                                          placeholder="Nhập từ khóa tìm kiếm website của bạn">{{
                                                                settings.keywords
                                                                }}></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid lg:grid-cols-2 gap-5 lg:gap-7.5 items-stretch">
                                                    <div class="lg:col-span-1">
                                                        <div class="kt-form-item">
                                                            <label class="kt-form-label">Note [Template
                                                                Default]</label>
                                                            <div class="kt-form-control">
                                                                <textarea type="text" class="kt-textarea form-editor" name="description" rows="5"
                                                                          placeholder="Nhập mô tả website của bạn"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="lg:col-span-1">
                                                        <div class="kt-form-item">
                                                            <label class="kt-form-label">Từ Khóa</label>
                                                            <div class="kt-form-control">
                                                                <textarea type="text" class="kt-textarea"  name="keywords" rows="5"
                                                                          placeholder="Nhập từ khóa tìm kiếm website của bạn">{{
                                                                settings.keywords
                                                                }}></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden" id="tab_1_2">
                                    Tab
                                    <!-- -->2<!-- -->
                                    content.
                                </div>
                                <div class="hidden" id="tab_1_3">
                                    Tab
                                    <!-- -->3<!-- -->
                                    content.
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                {{>foot}}
            </div>
        </div>
    </div>
</div>
<script src="../themes/admin/assets/js/core.bundle.js">
</script>
<script src="../themes/admin/assets/vendors/ktui/ktui.min.js">
</script>
</body>
</html>
