{{>head}}
{{>nav}}
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
            <div class="secondary-nav">
                <div class="breadcrumbs-container" data-page-heading="Analytics">
                    <header class="header navbar navbar-expand-sm">
                        <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                        </a>
                        <div class="d-flex breadcrumb-content">
                            <div class="page-header">
                                <div class="page-title"><h3>{{ title }}</h3></div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <!--  END BREADCRUMBS  -->

            <div class="row layout-top-spacing">

                <div class="col-xl-12">
                    <form action="" method="post" class="dataEnz" id="formSetting">
                        <div class="simple-pill">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-setting-tab" data-bs-toggle="pill" data-bs-target="#pills-setting-icon" type="button" role="tab" aria-controls="pills-setting-icon" aria-selected="true">
                                    <img src="../themes/admin/images/setting.png" alt="" width="20"> Cài Đặt Hệ Thống
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-reward-tab" data-bs-toggle="pill" data-bs-target="#pills-reward-icon" type="button" role="tab" aria-controls="pills-reward-icon" aria-selected="false">
                                    <img src="https://cdn-icons-png.flaticon.com/512/8208/8208947.png" alt="" width="20"> Cài Đặt Trả Thưởng
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-data-tab" data-bs-toggle="pill" data-bs-target="#pills-data-icon" type="button" role="tab" aria-controls="pills-data-icon" aria-selected="false">
                                    <img src="../themes/admin/images/data.png" alt="" width="20"> Cài Đặt Dữ Liệu
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-wheel-tab" data-bs-toggle="pill" data-bs-target="#pills-wheel-icon" type="button" role="tab" aria-controls="pills-data-icon" aria-selected="false">
                                    <img src="https://www.svgrepo.com/show/422180/wheel-lucky-game.svg" alt="" width="20"> Cài Đặt Vòng Quay
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-setting-icon" role="tabpanel" aria-labelledby="pills-setting-tab" tabindex="0">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                           <div class="row">
                                               <div class="col-xl-12">
                                                   <div class="form-group">
                                                       <label>Tiền Hũ</label>
                                                       <input type="number" class="form-control"
                                                              name="jackpotCount" value="{{ settings.jackpotCount }}"
                                                              placeholder="Nhập số tiền trong hũ">
                                                   </div>
                                               </div>
                                               <div class="col-md-6 mt-2">
                                                   <div class="form-group">
                                                       <label>Tên Website</label>
                                                       <input type="text" class="form-control" name="nameSite" value="{{ settings.nameSite }}"
                                                              placeholder="Nhập tên website của bạn">
                                                   </div>
                                               </div>
                                               <div class="col-md-6 mt-2">
                                                   <div class="form-group">
                                                       <label>Tiêu Đề</label>
                                                       <input type="text" class="form-control" name="defaultTitle" value="{{ settings.defaultTitle }}"
                                                              placeholder="Nhập tiêu đề website">
                                                   </div>
                                               </div>
                                               <div class="col-md-4 mt-2">
                                                   <div class="form-group">
                                                       <label>Icon Website</label>
                                                       <input type="text" class="form-control" name="favicon" value="{{ settings.favicon }}"
                                                              placeholder="Nhập link icon website của bạn">
                                                   </div>
                                               </div>
                                               <div class="col-md-4 mt-2">
                                                   <div class="form-group">
                                                       <label>Logo Website</label>
                                                       <input type="text" class="form-control" name="logo" value="{{ settings.logo }}"
                                                              placeholder="Nhập link logo website của bạn">
                                                   </div>
                                               </div>
                                               <div class="col-md-4 mt-2">
                                                   <div class="form-group">
                                                       <label>Thumbnail Website</label>
                                                       <input type="text" class="form-control" name="thumbnail" value="{{ settings.favicon }}"
                                                              placeholder="Nhập link thumbnail website của bạn">
                                                   </div>
                                               </div>
                                               <div class="col-md-6 mt-2">
                                                   <div class="form-group">
                                                       <label>Từ Khóa</label>
                                                       <textarea type="text" class="form-control" name="description" rows="5"
                                                                 placeholder="Nhập mô tả website của bạn">{{settings.description}}</textarea>
                                                   </div>
                                               </div>
                                               <div class="col-md-6 mt-2">
                                                   <div class="form-group">
                                                       <label>Mô Tả</label>
                                                       <textarea type="text" class="form-control" name="keywords" rows="5"
                                                                 placeholder="Nhập từ Khóa website của bạn">{{settings.keywords}}</textarea>
                                                   </div>
                                               </div>
                                               <div class="col-md-12 mt-2">
                                                   <div class="form-group">
                                                       <label>Note [Template Default]</label>
                                                       <textarea type="text" class="form-control form-editor" name="notification-data" rows="5"
                                                                 placeholder="Nhập mô tả website của bạn">{{{ settings.notification.data }}}</textarea>
                                                   </div>
                                               </div>
                                               <div class="col-md-6 mt-2">
                                                   <div class="form-group">
                                                       <label>Header Script</label>
                                                       <textarea type="text" class="form-control" name="headerScript" rows="3"
                                                                 placeholder="headerScript">{{ settings.headerScript
                                                       }}</textarea>
                                                   </div>
                                               </div>
                                               <div class="col-md-6 mt-2">
                                                   <div class="form-group">
                                                       <label>Footer Script</label>
                                                       <textarea type="text" class="form-control" name="footerScript" rows="3"
                                                                 placeholder="footerScript">{{
                                                       settings.footerScript
                                                       }}</textarea>
                                                   </div>
                                               </div>
                                               <div class="col-md-6 mt-2">
                                                   <div class="form-group">
                                                       <label>BOT TOKEN
                                                           [TELEGRAM]</label>
                                                       <input type="text" class="form-control" name="telegram-token" value="{{ settings.telegram.token }}"
                                                              placeholder="Nhập token bot telegram">
                                                   </div>
                                               </div>
                                               <div class="col-md-6 mt-2">
                                                   <div class="form-group">
                                                       <label>CHAT ID
                                                           [TELEGRAM]</label>
                                                       <input type="text" class="form-control" name="telegram-chatId" value="{{ settings.telegram.chatId }}"
                                                              placeholder="Nhập token bot telegram">
                                                   </div>
                                               </div>
                                               <div class="col-md-4 mt-2">
                                                   <div class="form-group">
                                                       <label>LINK SUPPORT
                                                           [TELEGRAM]</label>
                                                       <input type="text" class="form-control" name="telegram-support" value="{{ settings.telegram.support }}"
                                                              placeholder="Nhập link support">
                                                   </div>
                                               </div>
                                               <div class="col-md-4 mt-2">
                                                   <div class="form-group">
                                                       <label>LINK GROUP
                                                           [TELEGRAM]</label>
                                                       <input type="text" class="form-control" name="telegram-group" value="{{ settings.telegram.group }}"
                                                              placeholder="Nhập link grpup">
                                                   </div>
                                               </div>
                                               <div class="col-md-4 mt-2">
                                                   <div class="form-group">
                                                       <label>LINK BOT
                                                           [TELEGRAM]</label>
                                                       <input type="text" class="form-control" name="telegram-botLink" value="{{ settings.telegram.botLink }}"
                                                              placeholder="Nhập link botLink">
                                                   </div>
                                               </div>
                                               <div class="col-md-12 mt-2">
                                                   <div class="form-group">
                                                       <label>Gửi mã gift đến telegram người chơi</label>
                                                       <select name="telegram-botGift" class="form-control">
                                                           {{#select settings.telegram.botGift }}
                                                               <option value="active">Bật</option>
                                                               <option value="inactive">Tắt</option>
                                                           {{/select }}
                                                       </select>
                                                   </div>
                                               </div>
                                               <div class="col-md-3 mt-2">
                                                   <div class="form-group">
                                                       <label>Tối thiểu [GIFTCODE]</label>
                                                       <input type="text" class="form-control" name="giftCode-min" value="{{ settings.giftCode.min }}"
                                                              placeholder="">
                                                   </div>
                                               </div>
                                               <div class="col-md-3 mt-2">
                                                   <div class="form-group">
                                                       <label>Tối đa [GIFTCODE]</label>
                                                       <input type="text" class="form-control" name="giftCode-max" value="{{ settings.giftCode.max }}"
                                                              placeholder="">
                                                   </div>
                                               </div>
                                               <div class="col-md-3 mt-2">
                                                   <div class="form-group">
                                                       <label>Loại nhận [GIFTCODE]</label>
                                                       <select name="giftCode-typeBank" class="form-control">
                                                           {{#select settings.giftCode.typeBank }}
                                                               <option value="bank">bank</option>
                                                               <option value="balance">balance</option>
                                                           {{/select }}
                                                       </select>
                                                   </div>
                                               </div>
                                               <div class="col-md-3 mt-2">
                                                   <div class="form-group">
                                                       <label>Trạng thái [GIFTCODE]</label>
                                                       <select name="giftCode-status" class="form-control">
                                                           {{#select settings.giftCode.status }}
                                                               <option value="active">active</option>
                                                               <option value="close">close</option>
                                                           {{/select }}
                                                       </select>
                                                   </div>
                                               </div>
                                               <div class="col-md-12 mt-2">
                                                   <div class="form-group">
                                                       <label>Loại Top</label>
                                                       <select name="topData-typeTOP" class="form-control">
                                                           {{#select settings.topData.typeTOP }}
                                                               <option value="day">Ngày</option>
                                                               <option value="week">Tuần</option>
                                                           {{/select }}
                                                       </select>
                                                   </div>
                                               </div>
                                               <div class="col-md-6 mt-2">
                                                   <div class="form-group">
                                                       <label>Tối thiểu [FAKE USER]</label>
                                                       <input type="text" class="form-control" name="fakeUser-min" value="{{ settings.fakeUser.min }}"
                                                              placeholder="">
                                                   </div>
                                               </div>
                                               <div class="col-md-6 mt-2">
                                                   <div class="form-group">
                                                       <label>Tối đa [FAKE USER]</label>
                                                       <input type="text" class="form-control" name="fakeUser-max" value="{{ settings.fakeUser.max }}"
                                                              placeholder="">
                                                   </div>
                                               </div>
                                               <div class="col-md-12 mt-2">
                                                   <label>* FAKE USER [HISTORY]</label>
                                                   <div class="table-responsive">
                                                       <table class="table table-bordered border-secondary">
                                                           <thead>
                                                           <tr class="userDatatable-header">
                                                               <th>
                                                                   <i class="fa fa-plus-circle create" data-value="fakeUser"
                                                                      data-parent="fakeUser-" data-child="data"></i>
                                                               </th>
                                                               <th>Vị Trí</th>
                                                               <th>Thành viên</th>
                                                           </tr>
                                                           </thead>
                                                           <tbody class="dataEnz" data-bs-parent="fakeUser-" data-bs-child="data"
                                                                  data-bs-position="true">
                                                           {{#each settings.fakeUser.data}}
                                                               <tr>
                                                                   <td>
                                                                       <div class="table-actions hand">
                                                        <span class="badge badge-info" data-bs-action="edit"><i
                                                                class="fa fa-pen"></i></span>
                                                                           <span class="badge badge-danger" data-bs-action="remove"><i
                                                                                   class="fa fa-trash" aria-hidden="true"></i></span>
                                                                       </div>
                                                                   </td>
                                                                   <td data-bs-position="true">{{ sum @index 1 }}</td>
                                                                   <td data-bs-key="[]" data-bs-value="{{ this }}" data-bs-type="text"
                                                                       data-bs-more="text">{{
                                                                           this }}
                                                                   </td>
                                                               </tr>
                                                           {{/each}}
                                                           </tbody>
                                                       </table>
                                                   </div>
                                               </div>

                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-reward-icon" role="tabpanel" aria-labelledby="pills-reward-tab" tabindex="0">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Loại Trả Thưởng</label>
                                                        <select name="reward-dataType" class="form-control">
                                                            {{#select settings.reward.dataType }}
                                                                <option value="all">Trả Hết</option>
                                                                <option value="limit">Giới Hạn</option>
                                                            {{/select }}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mt-2">
                                                    <div class="form-group">
                                                        <label>Nội Dung Trả Thưởng</label>
                                                        <input type="text" class="form-control" name="commentSite-rewardGD" value="{{ settings.commentSite.rewardGD }}"
                                                               placeholder="Nhập nội dung trả thưởng">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mt-2">
                                                    <div class="form-group">
                                                        <label>SỐ TIỀN GIỚI HẠN
                                                            [MOMO REWARD]</label>
                                                        <input type="text" class="form-control" name="reward-momoMax" value="{{ settings.reward.momoMax }}"
                                                               placeholder="Nhập số tiền tối đa để được sử dụng api momo">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mt-2">
                                                    <div class="form-group">
                                                        <label>SỐ TIỀN GIỚI HẠN
                                                            [ZALO REWARD]</label>
                                                        <input type="text" class="form-control" name="reward-zaloMax" value="{{ settings.reward.zaloMax }}"
                                                               placeholder="Nhập số tiền tối đa để được sử dụng api zalo">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label>Hoàn Tiền</label>
                                                        <select name="refund-status" class="form-control">
                                                            {{#select settings.refund.status }}
                                                                <option value="active">Có</option>
                                                                <option value="close">Không</option>
                                                            {{/select }}
                                                        </select>
                                                    </div>
                                                </div>
<!--                                                <div class="col-md-4 mt-2">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label>Thua Hoàn (%)</label>-->
<!--                                                        <input type="text" class="form-control" name="refund-won" value="{{ settings.refund.won }}"-->
<!--                                                               placeholder="Nhập số phần trăm hoàn tiền khi thua">-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                                <div class="col-md-6 mt-2">
                                                    <div class="form-group">
                                                        <label>Sai Nội Dung Hoàn
                                                            (%)</label>
                                                        <input type="text" class="form-control" name="refund-fail" value="{{ settings.refund.fail }}"
                                                               placeholder="Nhập số phần trăm hoàn tiền khi bị sai nội dung">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mt-2">
                                                    <div class="form-group">
                                                        <label>Giới Hạn Hoàn</label>
                                                        <input type="text" class="form-control" name="refund-limit" value="{{ settings.refund.limit }}"
                                                               placeholder="Nhập số lần hoàn tiền trong 1 ngày">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <label>* TỶ LỆ HOÀN [REWARD]</label>
                                                    <div class="table-responsive">
                                                    <table class="table table-bordered border-secondary">
                                                        <thead>
                                                        <tr class="userDatatable-header">
                                                            <th>
                                                                <i class="fa fa-plus-circle create" data-value="refund"
                                                                   data-parent="refund-" data-child="data"></i>
                                                            </th>
                                                            <th>Vị Trí</th>
                                                            <th>Tối thiểu</th>
                                                            <th>Tối đa</th>
                                                            <th>Tỉ lệ</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="dataEnz" data-bs-parent="refund-" data-bs-child="data"
                                                               data-bs-position="true">
                                                        {{#each settings.refund.data}}
                                                            <tr>
                                                                <td>
                                                                    <div class="table-actions hand">
                                                        <span class="badge badge-info" data-bs-action="edit"><i
                                                                class="fa fa-pen"></i></span>
                                                                        <span class="badge badge-danger" data-bs-action="remove"><i
                                                                                class="fa fa-trash" aria-hidden="true"></i></span>
                                                                    </div>
                                                                </td>
                                                                <td data-bs-position="true">{{ sum @index 1 }}</td>
                                                                <td data-bs-key="min" data-bs-value="{{ this.min }}"
                                                                    data-bs-type="number" data-bs-more="numberFormat">{{
                                                                numberFormat this.min }}
                                                                </td>
                                                                <td data-bs-key="max" data-bs-value="{{ this.max }}"
                                                                    data-bs-type="number" data-bs-more="numberFormat">{{
                                                                numberFormat this.max }}
                                                                </td>
                                                                <td data-bs-key="bonus" data-bs-value="{{ this.bonus }}"
                                                                    data-bs-type="number" data-bs-more="numberFormat">{{
                                                                this.bonus }}
                                                                </td>
                                                            </tr>
                                                        {{/each}}
                                                        </tbody>
                                                    </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-data-icon" role="tabpanel" aria-labelledby="pills-data-icon-tab" tabindex="0">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>* NHIỆM VỤ NGÀY [SETTING]</label>
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered border-secondary">
                                                            <thead>
                                                            <tr class="userDatatable-header">
                                                                <th>
                                                                    <i class="fa fa-plus-circle create" data-value="missionData"
                                                                       data-parent="missionData-" data-child="data"></i>
                                                                </th>
                                                                <th>Vị Trí</th>
                                                                <th>Tổng Cược Ngày</th>
                                                                <th>Tiền Thưởng</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="dataEnz" data-bs-parent="missionData-" data-bs-child="data"
                                                                   data-bs-position="true">
                                                            {{#each settings.missionData.data}}
                                                                <tr>
                                                                    <td>
                                                                        <div class="table-actions hand">
                                                        <span class="badge badge-info" data-bs-action="edit"><i
                                                                class="fa fa-pen"></i></span>
                                                                            <span class="badge badge-danger" data-bs-action="remove"><i
                                                                                    class="fa fa-trash" aria-hidden="true"></i></span>
                                                                        </div>
                                                                    </td>
                                                                    <td data-bs-position="true">{{ sum @index 1 }}</td>
                                                                    <td data-bs-key="amount" data-bs-value="{{ this.amount }}"
                                                                        data-bs-type="number" data-bs-more="numberFormat">{{ numberFormat
                                                                            this.amount }}
                                                                    </td>
                                                                    <td data-bs-key="bonus" data-bs-value="{{ this.bonus }}"
                                                                        data-bs-type="number" data-bs-more="numberFormat">{{ numberFormat
                                                                            this.bonus }}
                                                                    </td>
                                                                </tr>
                                                            {{/each}}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <label>* THƯỞNG TOP [SETTING]</label>
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered border-secondary">
                                                            <thead>
                                                            <tr class="userDatatable-header">
                                                                <th><i class="fa fa-plus-circle create" data-value="bonusTOP"
                                                                       data-parent="topData-" data-child="bonus"></i></th>
                                                                <th>Vị Trí</th>
                                                                <th>Tiền Thưởng</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="dataEnz" data-bs-parent="topData-" data-bs-child="bonus"
                                                                   data-bs-position="true">
                                                            {{#each settings.topData.bonus}}
                                                                <tr>
                                                                    <td>
                                                                        <div class="table-actions hand">
                                                        <span class="badge badge-info" data-bs-action="edit"><i
                                                                class="fa fa-pen"></i></span>
                                                                            <span class="badge badge-destructive" data-bs-action="remove"><i
                                                                                    class="fa fa-trash" aria-hidden="true"></i></span>
                                                                        </div>
                                                                    </td>
                                                                    <td data-bs-position="true">{{ sum @index 1 }}</td>
                                                                    <td data-bs-key="[]" data-bs-value="{{ this }}" data-bs-type="number"
                                                                        data-bs-more="numberFormat">{{ numberFormat
                                                                            this }}
                                                                    </td>
                                                                </tr>
                                                            {{/each}}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-wheel-icon" role="tabpanel" aria-labelledby="pills-wheel-icon-tab" tabindex="0">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="">Vòng quay</label>
                                                        <select name="wheel-status" class="form-control">
                                                            {{#select settings.wheel.status }}
                                                                <option value="active">Bật</option>
                                                                <option value="close">Tắt</option>
                                                            {{/select }}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="">Tên vòng quay</label>
                                                        <input type="text" class="form-control"
                                                               name="wheel-name"
                                                               value="{{ settings.wheel.name }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="">Chơi tốt thiểu</label>
                                                        <input type="text" class="form-control"
                                                               name="wheel-amount"
                                                               value="{{ settings.wheel.amount }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <label>* PHẦN THƯỞNG [WHEEL]</label>
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered border-secondary">
                                                            <thead>
                                                            <tr class="userDatatable-header">
                                                                <th><i class="fa fa-plus-circle create" data-value="gift"
                                                                       data-parent="wheel-" data-child="gift"></i></th>
                                                                <th>Vị Trí</th>
                                                                <th>Tỉ lệ</th>
                                                                <th>Tên thưởng</th>
                                                                <th>Tiền Thưởng</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="dataEnz" data-bs-parent="wheel-" data-bs-child="gift"
                                                                   data-bs-position="true">
                                                            {{#each settings.wheel.gift}}
                                                                <tr>
                                                                    <td>
                                                                        <div class="table-actions hand">
                                                        <span class="badge badge-info" data-bs-action="edit"><i
                                                                class="fa fa-pen"></i></span>
                                                                            <span class="badge badge-danger" data-bs-action="remove"><i
                                                                                    class="fa fa-trash" aria-hidden="true"></i></span>
                                                                        </div>
                                                                    </td>
                                                                    <td data-bs-key="pos" data-bs-value="{{ this.pos }}"
                                                                        data-bs-type="number" data-bs-more="numberFormat">{{
                                                                    this.pos }}
                                                                    </td>
                                                                    <td data-bs-key="ratio" data-bs-value="{{ this.ratio }}"
                                                                        data-bs-type="number" data-bs-more="numberFormat">{{
                                                                    this.ratio }}
                                                                    </td>
                                                                    <td data-bs-key="name" data-bs-value="{{ this.name }}"
                                                                        data-bs-type="text" data-bs-more="numberFormat">{{
                                                                    this.name }}
                                                                    </td>
                                                                    <td data-bs-key="amount" data-bs-value="{{ this.amount }}"
                                                                        data-bs-type="number" data-bs-more="numberFormat">{{ numberFormat
                                                                            this.amount }}
                                                                    </td>
                                                                </tr>
                                                            {{/each}}
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                        <div class="content-center flex justify-center items-center flex-wrap gap-2.5">
                            <button type="submit" class="btn btn-success w-100 mt-2" name="saveData">
                                <i class="fa fa-save"></i>
                                Lưu
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © <span class="dynamic-year">2022</span> <a target="_blank" href="">CuuDen</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script>
    // $('body').on('submit', '#formSetting', function (e) {
    //     e.preventDefault();
    //     let data = $(this).serialize();
    //
    //     $('#formSetting>button').html(`<div class="dm-spin-dots spin-sm"><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span></div>`);
    //     axios.put('#', data)
    //             .then((result) => {
    //                 let response = result.data;
    //                 response.success ? swal('Thông Báo', response.message, 'success') : swal('Thông Báo', response.message, 'error');
    //             })
    //             .catch((err) => {
    //                 swal('Thông Báo', err.message || err, 'error');
    //             })
    //             .finally(() => $('#formSetting>button').html(`<i class="ki-filled ki-save-2"></i> Lưu`));
    // })

    $('body').on('submit', 'form.dataEnz', function (e) {
        e.preventDefault();

        let _this = $(this);
        let data = toJSON(_this);

        $('tbody.dataEnz').each(function (e) {
            let list = [];
            let _this = $(this);
            let name = `${_this.attr('data-bs-parent')}${_this.attr('data-bs-child')}`;

            console.log(name);

            _this.find('tr').each(function (e) {
                let _that = $(this);
                let isInput, object;

                _that.find('td[data-bs-key]').each(function (e) {
                    let key = $(this).attr('data-bs-key');
                    let value = $(this).attr('data-bs-value');
                    isInput = $(this).find('input').length;

                    if (!isInput) {
                        key == "[]" ? list.push(value) : object = {
                            ...object,
                            [key]: value
                        }
                    }
                })

                !isInput && object && list.push(object);

            })

            data[name] = [
                ...list
            ];
        })

        $('[name="saveData"]').html(`<div class="dm-spin-dots spin-sm"><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span><span class="spin-dot badge-dot dot-primary"></span></div>`);

        axios.put('#', { ...data })
                .then((result) => {
                    let response = result.data;

                    response.success ? swal('Thông Báo', response.message, 'success') : swal('Thông Báo', response.message, 'error');
                })
                .catch((err) => {
                    swal('Thông Báo', err.message || err, 'error');
                })
                .finally(() => $('[name="saveData"]').html(`<i class="ki-filled ki-save-2"></i> Lưu`));
    })

    $('body').on('click', '.create', function (e) {
        let _this = $(this);
        let value = _this.data('value');
        let html;

        switch (value) {
            case 'contact':
                html = `<tr><td><div class="table-actions hand"><span class="badge badge-success" data-bs-action="add"><i class="fa fa-save"></i></span></div></td><td data-bs-key="url" data-bs-value="" data-bs-type="text"><input type="text" class="form-control"></td><td data-bs-key="html" data-bs-value="" data-bs-type="text"><input type="text" class="form-control"></td><td data-bs-render="html"></td></tr>`;
                break;
            case 'missionData':
                html = `<tr><td><div class="table-actions hand"><span class="badge badge-success" data-bs-action="add"><i class="fa fa-save"></i></span></div></td><td data-bs-position="true"></td><td data-bs-key="amount" data-bs-value="" data-bs-type="number" data-bs-more="numberFormat"><input type="number" class="form-control"></td><td data-bs-key="bonus" data-bs-value="" data-bs-type="number" data-bs-more="numberFormat"><input type="number" class="form-control"></td></tr>`;
                break;
            case 'refund':
                html = `<tr><td><div class="hand table-actions"><span class="badge badge-success" data-bs-action=add><i class="fa fa-save"></i></span></div><td data-bs-position=true><td data-bs-key="min" data-bs-more=numberFormat data-bs-type=number data-bs-value=""><input class=form-control type=number><td data-bs-key="max" data-bs-more=numberFormat data-bs-type=number data-bs-value=""><input class=form-control type=number><td data-bs-key="bonus" data-bs-more=numberFormat data-bs-type=number data-bs-value=""><input class=form-control type=number>`;
                break;
            case 'bonusTOP':
                html = `<tr><td><div class="table-actions hand"><span class="badge badge-success" data-bs-action="add"><i class="fa fa-save"></i></span></div></td><td data-bs-position="true"></td><td data-bs-key="[]" data-bs-value="" data-bs-type="number" data-bs-more="numberFormat"><input type="number" class="form-control"></td></tr>`;
                break;
            case 'fakeData':
                html = `<tr><td><div class="table-actions hand"><span class="badge badge-success" data-bs-action="add"><i class="fa fa-save"></i></span></div></td><td data-bs-position="true"></td><td data-bs-key="phone" data-bs-value="" data-bs-type="text"><input type="text" class="form-control"></td><td data-bs-key="amount" data-bs-value="" data-bs-type="number" data-bs-more="numberFormat"><input type="number" class="form-control"></td><td data-bs-key="bonus" data-bs-value="" data-bs-type="number" data-bs-more="numberFormat"><input type="number" class="form-control"></td></tr>`;
                break;
            case 'gift':
                html = `<tr><td><div class="hand table-actions"><span class="badge badge-success" data-bs-action=add><i class="fa-save fas"></i></span></div><td data-bs-key=pos data-bs-type=text data-bs-value=""><input class="form-control"><td data-bs-key=ratio data-bs-type=text data-bs-value=""><input class="form-control"><td data-bs-key=name data-bs-type=text data-bs-value=""><input class="form-control"><td data-bs-key=amount data-bs-type=number data-bs-value=""data-bs-more=numberFormat><input class="form-control"type=number>`;
                break;
            case 'fakeUser':
                html = `<tr><td><div class="table-actions hand"><span class="badge badge-success" data-bs-action="add"><i class="fa fa-save"></i></span></div></td><td data-bs-position="true"></td><td data-bs-key="[]" data-bs-value="" data-bs-type="text"><input type="text" class="form-control"></td></tr>`;
                break;
            default:
                swal('Thông Báo', 'Dữ liệu không hợp lệ!', 'error');
                break;
        }

        html && $(`tbody[data-bs-parent="${_this.data('parent')}"][data-bs-child="${_this.data('child')}"]`).append(html);
    })

    $('body').on('click', '.dataEnz span[data-bs-action]', function (e) {
        let action = $(this).attr('data-bs-action');
        let tbody = $(this).parent().parent().parent().parent();
        let tr = $(this).parent().parent().parent();

        switch (action) {
            case 'add':
                $(this).parent().html(`<span class="badge badge-primary" data-bs-action="edit"><i class="fa fa-pen"></i></span> <span class="badge badge-danger" data-bs-action="remove"><i class="fa fa-trash"></i></span>`);

                tr.find('td[data-bs-key]').each(function (e) {
                    let key = $(this).attr('data-bs-key');
                    let value = $(this).find('input').val();
                    let more = $(this).attr('data-bs-more');

                    if (!value) return tr.remove();

                    let html;
                    switch (more) {
                        case 'numberFormat':
                            html = Intl.NumberFormat('en-US').format(value)
                            break;
                        case 'textarea':
                            html = `<textarea rows="3" class="form-control">${value}</textarea>`;
                            break;
                        default:
                            html = value;
                            break;
                    }

                    $(this).html(html).attr('data-bs-value', value);
                })

                if (tr.find('td[data-bs-key="html"]')) {
                    let html = tr.find('td[data-bs-key="html"]').attr('data-bs-value');
                    tr.find('td[data-bs-render="html"]').html(`<center>${html}</center>`)
                }

                tbody.find('[data-bs-position="true"]') && resetTOP(tbody);
                break;
            case 'edit':
                $(this).parent().html(`<span class="badge badge-success" data-bs-action="save"><i class="fa fa-save"></i></span>`);

                tr.find('td[data-bs-key]').each(function (e) {
                    let type = $(this).attr('data-bs-type');
                    let value = $(this).attr('data-bs-value');

                    $(this).html(`<input type="${type}" class="form-control">`);
                    $(this).find('input').val(value);
                })

                break;
            case 'save':
                let render;
                $(this).parent().html(`<span class="badge badge-info" data-bs-action="edit"><i class="fa fa-pen"></i></span> <span class="badge badge-danger" data-bs-action="remove"><i class="fa fa-trash" aria-hidden="true"></i></span>`);

                tr.find('td[data-bs-key]').each(function (e) {
                    let key = $(this).attr('data-bs-key');
                    let value = $(this).find('input').val();
                    let more = $(this).attr('data-bs-more');

                    if (!value) return tr.remove();

                    let html;
                    switch (more) {
                        case 'numberFormat':
                            html = Intl.NumberFormat('en-US').format(value)
                            break;
                        case 'textarea':
                            html = `<textarea rows="3" class="form-control">${value}</textarea>`;
                            break;
                        default:
                            html = value;
                            break;
                    }
                    $(this).html(html).attr('data-bs-value', value);
                })

                if (tr.find('td[data-bs-key="html"]')) {
                    let html = tr.find('td[data-bs-key="html"]').attr('data-bs-value');
                    tr.find('td[data-bs-render="html"]').html(`<center>${html}</center>`)
                }

                tbody.find('[data-bs-position="true"]') && resetTOP(tbody);
                break;
            case 'remove':
                tr.remove();
                tbody.find('[data-bs-position="true"]') && resetTOP(tbody);
                break;
            default:
                swal('Thông Báo', 'Thao tác không hợp lệ!', 'error');
                break;
        }

    })

    function toJSON(form) {
        return $(form).serializeArray().reduce(function (json, { name, value }) {
            json[name] = value;
            return json;
        }, {});
    }

    function resetTOP(tbody) {
        tbody.find('td[data-bs-position="true"]').each(function (index) {
            $(this).html(`${index + 1}`)
        })
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.form-editor').forEach((el, index) => {
            ClassicEditor
                    .create(el)
                    .then(editor => {
                        // Optional: lưu từng editor nếu cần xử lý sau
                        console.log(`Editor ${index + 1} đã khởi tạo`);
                    })
                    .catch(error => {
                        console.error(`Lỗi khởi tạo editor ${index + 1}:`, error);
                    });
        });
    });
</script>
{{>foot}}

