{{>head}}
{{>nav}}
<main class="main-content">
    <div class="contents">
        <div class="crm mb-25">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-main">
                            <h4 class="text-capitalize breadcrumb-title">{{ title }}</h4>
                        </div>
                    </div>
                    {{#each histories}}
                    <div class="col-md-4 mb-25 hand">
                        <a href="{{../adminPath}}/pay-otp?transId={{this.transId}}">
                            <div class="feature-cards5 d-flex justify-content-between border-0 radius-xl p-25">
                                <div class="application-task d-flex align-items-center">
                                    <div class="application-task-icon wh-60 bg-success content-center">
                                        <img src="../themes/admin/images/win.png" width="50px">
                                    </div>
                                    <div class="application-task-content">
                                        <h6>{{ this.transId }} - {{ numberFormat this.bonus }}</h6>
                                        <span class="text-light fs-14 mt-1 texqt-capitalize">{{ this.gameName }} - {{ timeNow this.createdAt }} - {{ formatDate this.createdAt 'HH:mm:ss DD-MM-YYYY' }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>
{{>foot}}
<script src="https://cdn.jsdelivr.net/npm/qr-code-styling@1.9.1/lib/qr-code-styling.min.js"></script>
