
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="{{ settings.description }}">
    <meta name="keywords" content="{{ settings.keywords }}">
    <meta property="og:description" content="{{ settings.description }}">
    <meta property="og:image" content="{{ settings.thumbnail }}">
    <link rel="shortcut icon" href="{{ settings.favicon }}" type="image/x-icon">
    <title>{{#if title}}{{ title }} - {{ settings.defaultTitle }}{{else}}{{ settings.defaultTitle }}{{/if}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../themes/default/css/bootstrap.min.css">
    <link rel='stylesheet' href='../themes/default/css/animate.min.css'>
    <link rel="stylesheet" href="../themes/default/css/slimselect.css">
    <link rel="stylesheet" href="../themes/default/css/admin.css?v=220">
    <script src="../themes/default/js/jquery.min.js?v=7"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- authorization form -->
                    <form class="sign__form" supmegroup="true" method="POST" action="#" redirect="../">
                        <a href="/" class="sign__logo">
                            <img src="{{ settings.logo }}" alt="">
                        </a>
                        <div class="sign__group text-center" id="err-msg">
                        </div>
                        <div class="sign__group">
                            <input autocomplete="new-password" autofocus="autofocus" class="sign__input" id="username" name="username" placeholder="Nickname" type="text" value="" />
                        </div>

                        <div class="sign__group">
                            <input autocomplete="new-password" class="sign__input" id="password" name="password" placeholder="Mật khẩu" type="password" />
                        </div>

                        <button class="sign__btn" type="submit"><span>ĐĂNG NHẬP</span></button>

                        <span class="sign__text">Đã có tài khoản? <a href="/dangky">Đăng ký!</a></span>
                        <input type="submit" hidden />
                    </form>


                    <!-- end authorization form -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../themes/default/js/bootstrap.bundle.min.js"></script>
<script src="../themes/default/js/smooth-scrollbar.js"></script>
<script src="../themes/default/js/slimselect.min.js"></script>
<script src="../themes/default/js/admin.js?v=3u5"></script>

<script src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
<link rel="stylesheet" href="../themes/default/css/jquery.vnm.confettiButton.css">
<script src="../themes/default/js/jquery.vnm.confettiButton.min.js"></script>
<script src="../themes/axios.min.js"></script>
<script src="../themes/socket.io.js"></script>
<script src="../themes/custom.min.js"></script>

{{{ settings.footerScript }}}