{{>header}}
<body>
<div class="preloader"></div>
<!-- header -->
<header class="header">
    <div class="header__content">
        <!-- header logo -->
        <a href="/" class="header__logo">
            <img class="logo" src="{{ settings.logo }}" alt="{{ settings.nameSite }}"/>
        </a>
        <!-- end header logo -->
        <!-- header menu btn -->
        <button class="header__btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!-- end header menu btn -->
    </div>
</header>
<!-- end header -->
<!-- sidebar -->
{{>sidebar}}
<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            {{>game}}
            <div class="col-12">
                <div class="dashbox">
                    <div class="dashbox__title">
                        <h3 style="margin:0 auto;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">  <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"></path></svg>NÔ HŨ - JACKPOT
                        </h3>
                    </div>
                    <div class="subpage-wrapper">
                        <p>SỐ TIỀN HIỆN TẠI TRONG HŨ ĐANG CHỜ BẠN!</p>
                        <div class="mb-4">
                            <code class="code-ex">8</code>
                            <code class="code-ex">1</code>
                            <code class="code-ex">2</code>
                            <code class="code-ex">1</code>
                            <code class="code-ex">9</code>
                            <code class="code-ex">7</code>
                            <code class="code-ex">5</code>
                        </div>
                        <div class="text-center mb-3">
                            <a href="http://t.me/kugame_bot" target="_blank" class="lnk__btn">QUAY MIỄN PHÍ NGAY</a>
                        </div>
                        <p class="text-center">
                            Jackpot là phần quà dành cho những người chơi may mắn.<br>
                            Bạn hoàn toàn có thể sở hữu MIỄN PHÍ thông qua việc quay Slot trên Telegram của KUBANK.GG<br>
                            Bạn có thể nhận được lượt quay MIỄN PHÍ khi chơi game trên KUBANK.GG<br>
                            CHÚC BẠN MAY MẮN!!!!
                        </p>


                        <div class="text-center">
                            <p class="small-notes"><i>HỆ THỐNG LIÊN TỤC PHÁT CODE NGẪU NHIÊN - MIỄN PHÍ MỖI 10-15P TẠI <a href="https://t.me/BANKTXCL">GROUP TELEGRAM</a></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal bounceIn animated" id="modal-notes" tabindex="-1" aria-labelledby="modal-view" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal__content modal__content--view">
                <div class="comments__autor">
                    <img class="comments__avatar" src="{{ settings.favicon }}" alt="">
                    <span class="comments__name">SUPBANK Thông Báo</span>
                </div>
                <p class="comments__text"></p>
                <div class="modal__btns">
                    <button class="modal__btn modal__btn--dismiss" type="button" data-bs-dismiss="modal"
                            aria-label="Close"><span>Đóng</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal bounceIn animated" id="modal-win" tabindex="-1" aria-labelledby="modal-view" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal__content modal__content--view">
                <div class="comments__autor">
                    <img class="comments__avatar" src="{{ settings.favicon }}" alt="">
                    <span class="comments__name">SUPBANK Thông Báo</span>
                </div>
                <p class="comments__text"></p>
                <div class="modal__btns">
                    <button class="modal__btn modal__btn--dismiss" type="button" data-bs-dismiss="modal"
                            aria-label="Close"><span>Đóng</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>$(".nav-item button").click(function(){window.location.href="/?g="+$(this).attr("data-bs-target").slice(1)})</script>
{{>footer}}
{{{ settings.footerScript }}}