{{>header}}
<body>
<div class="preloader"></div>
<!-- header -->
<header class="header">
    <div class="header__content">
        <!-- header logo -->
        <a href="/" class="header__logo">
            <img class="logo" src="{{ settings.logo }}" alt="{{ settings.nameSite }}"/>
        </a>
        <!-- end header logo -->
        <!-- header menu btn -->
        <button class="header__btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!-- end header menu btn -->
    </div>
</header>
<!-- end header -->
<!-- sidebar -->
{{>sidebar}}
<!-- main content -->
<style>
    .number-black-bold {
        font-weight: bold;
        color: black;
    }
    .div-horizontal {
        display: inline-block;
        margin-right: 10px;
    }
</style>
<main class="main">
    <div class="container-fluid">
        <div class="row">
            {{>game}}
            <link rel="stylesheet" href="../themes/default/css/lode.css?v=220">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-xl-7" id="resultBox">
                        <div class="dashbox">
                            <div class="dashbox__title">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-dice-5-fill" viewBox="0 0 16 16">
                                        <path d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm2.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM12 13.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM8 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                    </svg>
                                    XSST - QUAY SAU&nbsp;<span id="second">60</span>&nbsp;GIÂY NỮA
                                </h3>
                            </div>
                            <div class="dashbox__table-wrap dashbox__table-wrap--2 dashbox__table-lode"
                                 id="recently-histories">
                                <table class="dashbox__table mw800">
                                    <tbody class="text-center">
                                    <tr>
                                        <td>
                                            <div class="dashbox__table-text">ĐB</div>
                                        </td>
                                        <td class="lbr-code">
                                            <span id="xsst-result-gdb"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="dashbox__table-text">G1</div>
                                        </td>
                                        <td class="lbr-code">
                                            <span id="xsst-result-g1"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="dashbox__table-text">G2</div>
                                        </td>
                                        <td class="lbr-code">
                                            <div class="row" id="result-g2">
                                                <span id="xsst-result-g2-0" class="col-6"></span>
                                                <span id="xsst-result-g2-1" class="col-6"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="dashbox__table-text">G3</div>
                                        </td>
                                        <td class="lbr-code">
                                            <div class="row" id="result-g3">
                                                <span id="xsst-result-g3-0" class="col-4"></span>
                                                <span id="xsst-result-g3-1" class="col-4"></span>
                                                <span id="xsst-result-g3-2" class="col-4"></span>
                                                <span id="xsst-result-g3-3" class="col-4"></span>
                                                <span id="xsst-result-g3-4" class="col-4"></span>
                                                <span id="xsst-result-g3-5" class="col-4"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="dashbox__table-text">G4</div>
                                        </td>
                                        <td class="lbr-code">
                                            <div class="row" id="result-g4">
                                                <span id="xsst-result-g4-0" class="col-3"></span>
                                                <span id="xsst-result-g4-1" class="col-3"></span>
                                                <span id="xsst-result-g4-2" class="col-3"></span>
                                                <span id="xsst-result-g4-3" class="col-3"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="dashbox__table-text">G5</div>
                                        </td>
                                        <td class="lbr-code">
                                            <div class="row" id="result-g5">
                                                <span id="xsst-result-g5-0" class="col-4"></span>
                                                <span id="xsst-result-g5-1" class="col-4"></span>
                                                <span id="xsst-result-g5-2" class="col-4"></span>
                                                <span id="xsst-result-g5-3" class="col-4"></span>
                                                <span id="xsst-result-g5-4" class="col-4"></span>
                                                <span id="xsst-result-g5-5" class="col-4"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="dashbox__table-text">G6</div>
                                        </td>
                                        <td class="lbr-code">
                                            <div class="row" id="result-g6">
                                                <span id="xsst-result-g6-0" class="col-4"></span>
                                                <span id="xsst-result-g6-1" class="col-4"></span>
                                                <span id="xsst-result-g6-2" class="col-4"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="dashbox__table-text">G7</div>
                                        </td>
                                        <td class="lbr-code">
                                            <div class="row" id="result-g7">
                                                <span id="xsst-result-g7-0" class="col-3"></span>
                                                <span id="xsst-result-g7-1" class="col-3"></span>
                                                <span id="xsst-result-g7-2" class="col-3"></span>
                                                <span id="xsst-result-g7-3" class="col-3"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-5">
                        <div class=dashbox id="historyBox">
                            <div class=dashbox__title>
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-clock" viewBox="0 0 16 16">
                                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path>
                                    </svg>
                                    LỊCH SỬ THAM GIA
                                </h3>
                            </div>
                            <div class="dashbox__table-wrap dashbox__table-wrap--4" data-scrollbar="true" tabindex=-1
                                 style="overflow: hidden; outline: none">
                                <div class="scroll-content">
                                    <table class=dashbox__table>
                                        <thead>
                                        <tr>
                                            <th>NGƯỜI CHƠI</th>
                                            <th>GAME</th>
                                            <th>CƯỢC</th>
                                            <th>SỐ TIỀN</th>
                                            <th>NGÀY</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039525****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>lo-2-so</div>
                                            </td>
                                            <td class=lbr-code><code>72</code></td>
                                            <td>
                                                <div class=dashbox__table-text>27,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>058609****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>28</code><code>79</code></td>
                                            <td>
                                                <div class=dashbox__table-text>106,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039525****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-3</div>
                                            </td>
                                            <td class=lbr-code><code>61</code><code>57</code><code>76</code></td>
                                            <td>
                                                <div class=dashbox__table-text>5,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039525****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>22</code><code>35</code></td>
                                            <td>
                                                <div class=dashbox__table-text>20,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>091880****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>lo-2-so</div>
                                            </td>
                                            <td class=lbr-code><code>38</code></td>
                                            <td>
                                                <div class=dashbox__table-text>27,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>070640****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djuoi</div>
                                            </td>
                                            <td class=lbr-code>
                                                <code>6</code><code>4</code><code>2</code><code>8</code><br><code>5</code>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>20,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>070604****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>lo-2-so</div>
                                            </td>
                                            <td class=lbr-code><code>22</code></td>
                                            <td>
                                                <div class=dashbox__table-text>378,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039373****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>3-cang</div>
                                            </td>
                                            <td class=lbr-code>
                                                <code>215</code><code>240</code><code>332</code><code>435</code><br><code>579</code>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>5,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039373****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>67</code><code>32</code></td>
                                            <td>
                                                <div class=dashbox__table-text>20,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039373****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>67</code><code>60</code></td>
                                            <td>
                                                <div class=dashbox__table-text>20,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039976****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-3</div>
                                            </td>
                                            <td class=lbr-code><code>40</code><code>64</code><code>55</code></td>
                                            <td>
                                                <div class=dashbox__table-text>50,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>19/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039382****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-3</div>
                                            </td>
                                            <td class=lbr-code><code>36</code><code>65</code><code>16</code></td>
                                            <td>
                                                <div class=dashbox__table-text>50,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>084928****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>49</code><code>27</code></td>
                                            <td>
                                                <div class=dashbox__table-text>20,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>084928****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-3</div>
                                            </td>
                                            <td class=lbr-code><code>49</code><code>53</code><code>27</code></td>
                                            <td>
                                                <div class=dashbox__table-text>10,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>084928****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>49</code><code>53</code></td>
                                            <td>
                                                <div class=dashbox__table-text>20,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039373****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>25</code><code>93</code></td>
                                            <td>
                                                <div class=dashbox__table-text>10,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039373****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>44</code><code>35</code></td>
                                            <td>
                                                <div class=dashbox__table-text>10,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>033544****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-4</div>
                                            </td>
                                            <td class=lbr-code>
                                                <code>48</code><code>39</code><code>89</code><code>93</code><br></td>
                                            <td>
                                                <div class=dashbox__table-text>2,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>033544****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>39</code><code>48</code></td>
                                            <td>
                                                <div class=dashbox__table-text>25,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039373****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>30</code><code>85</code></td>
                                            <td>
                                                <div class=dashbox__table-text>10,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039373****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>02</code><code>92</code></td>
                                            <td>
                                                <div class=dashbox__table-text>10,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039373****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>46</code><code>22</code></td>
                                            <td>
                                                <div class=dashbox__table-text>10,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039373****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>46</code><code>59</code></td>
                                            <td>
                                                <div class=dashbox__table-text>10,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>079548****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>36</code><code>81</code></td>
                                            <td>
                                                <div class=dashbox__table-text>13,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>079548****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-dje</div>
                                            </td>
                                            <td class=lbr-code><code>59</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>079548****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-dje</div>
                                            </td>
                                            <td class=lbr-code>
                                                <code>42</code><code>34</code><code>73</code><code>54</code><br><code>31</code>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>5,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>45</code><code>54</code></td>
                                            <td>
                                                <div class=dashbox__table-text>2,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djuoi</div>
                                            </td>
                                            <td class=lbr-code><code>2</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djuoi</div>
                                            </td>
                                            <td class=lbr-code><code>4</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djuoi</div>
                                            </td>
                                            <td class=lbr-code><code>8</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-dje</div>
                                            </td>
                                            <td class=lbr-code><code>45</code></td>
                                            <td>
                                                <div class=dashbox__table-text>2,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djau</div>
                                            </td>
                                            <td class=lbr-code><code>4</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djuoi</div>
                                            </td>
                                            <td class=lbr-code><code>5</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>039525****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>67</code><code>42</code></td>
                                            <td>
                                                <div class=dashbox__table-text>20,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>18/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>037844****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-4</div>
                                            </td>
                                            <td class=lbr-code>
                                                <code>10</code><code>39</code><code>57</code><code>75</code><br></td>
                                            <td>
                                                <div class=dashbox__table-text>10,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>034257****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>3-cang</div>
                                            </td>
                                            <td class=lbr-code><code>251</code></td>
                                            <td>
                                                <div class=dashbox__table-text>8,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>034257****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>lo-3-so</div>
                                            </td>
                                            <td class=lbr-code><code>783</code></td>
                                            <td>
                                                <div class=dashbox__table-text>23,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>034257****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>lo-3-so</div>
                                            </td>
                                            <td class=lbr-code><code>951</code></td>
                                            <td>
                                                <div class=dashbox__table-text>23,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>034257****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>lo-3-so</div>
                                            </td>
                                            <td class=lbr-code><code>251</code></td>
                                            <td>
                                                <div class=dashbox__table-text>23,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>034257****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>lo-3-so</div>
                                            </td>
                                            <td class=lbr-code><code>751</code></td>
                                            <td>
                                                <div class=dashbox__table-text>23,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djuoi</div>
                                            </td>
                                            <td class=lbr-code><code>6</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djuoi</div>
                                            </td>
                                            <td class=lbr-code><code>9</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djuoi</div>
                                            </td>
                                            <td class=lbr-code><code>4</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djuoi</div>
                                            </td>
                                            <td class=lbr-code><code>2</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>cuoc-djau</div>
                                            </td>
                                            <td class=lbr-code><code>1</code></td>
                                            <td>
                                                <div class=dashbox__table-text>1,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-4</div>
                                            </td>
                                            <td class=lbr-code>
                                                <code>83</code><code>23</code><code>41</code><code>51</code><br></td>
                                            <td>
                                                <div class=dashbox__table-text>5,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>41</code><code>51</code></td>
                                            <td>
                                                <div class=dashbox__table-text>5,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>086993****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-2</div>
                                            </td>
                                            <td class=lbr-code><code>83</code><code>23</code></td>
                                            <td>
                                                <div class=dashbox__table-text>5,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>034257****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>xien-4</div>
                                            </td>
                                            <td class=lbr-code>
                                                <code>83</code><code>23</code><code>41</code><code>51</code><br></td>
                                            <td>
                                                <div class=dashbox__table-text>15,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class=dashbox__table-text>034257****</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>3-cang</div>
                                            </td>
                                            <td class=lbr-code><code>437</code></td>
                                            <td>
                                                <div class=dashbox__table-text>10,000</div>
                                            </td>
                                            <td>
                                                <div class=dashbox__table-text>17/01/2025</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class=subpage-wrapper></div>
                                </div>
                            </div>
                            <div class=subpage-wrapper></div>
                        </div>
                    </div>
                </div>
                <div class="dashbox">
                    <div class="dashbox__title">
                        <h3 style="margin:0 auto;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M3 21l18 0"></path>
                                <path d="M3 10l18 0"></path>
                                <path d="M5 6l7 -3l7 3"></path>
                                <path d="M4 10l0 11"></path>
                                <path d="M20 10l0 11"></path>
                                <path d="M8 14l0 3"></path>
                                <path d="M12 14l0 3"></path>
                                <path d="M16 14l0 3"></path>
                            </svg>
                            ĐẶT CƯỢC BẰNG SỐ DƯ
                        </h3>
                    </div>
                    <div class="subpage-wrapper">

                        <div class="text-center mb-3">
                            <p>
                                <span>SB COIN: </span> <span class="code-num"><b id="sbbal-txt">{{ numberFormat
                                    profile.balance }}</b></span> VNĐ
                                <input type="hidden" id="kbbal" value="0">
                                <span id="reload-kbbal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                                 style="position:relative;top:-1px;" fill="currentColor" class="bi bi-arrow-clockwise"
                                 viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"></path>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"></path>
                            </svg>
                        </span>
                                &nbsp;&nbsp;
                                <a href="/kbcoin">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                         style="position:relative;top:-2px;" fill="currentColor"
                                         class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5z"></path>
                                    </svg>
                                    <span>NẠP/RÚT</span>
                                </a>
                            </p>
                            <form id="cuoc-xsmb" action="/cuoc-xsmb" method="post" class="row" style="padding:0 10px;">
                                <div class="col-12 col-xl-6 mb-3">
                                    <select autocomplete=off name="gameBet" id="gameBet" class="sign__selectjs">
                                        <option value="">LỰA CHỌN GAME CƯỢC</option>
                                        <option value="mega">Mega (10K -> 33K)</option>
                                        <option value="dacbiet">Đặc biệt (10K -> 800K)</option>
                                        <option value="xien2">Xiên 2 (10K -> 100K)</option>
                                        <option value="xien3">Xiên 3 (10K -> 400K)</option>
                                    </select>
                                </div>
                                <div class="col-12 col-xl-6">
                                    <button class="sign__btn" type="button" id="btn-choose"><span>CHỌN SỐ</span>
                                    </button>
                                </div>
                                <div class="col-12 col-xl-12 mb-3">
                                    <label for="value-bet" class="sign__label">SỐ ĐIỂM CƯỢC</label>
                                    <input type="text" autocomplete="off" class="sign__input" id="bet-amount" name="amount" placeholder="Nhập số tiền mỗi số">
                                </div>
                                <div class="col-12 col-xl-12 mb-3"><p>Số đã chọn:</p>
                                    <div id="selected-number"></div>
                                </div>
                                <div class="col-12 col-xl-12">
                                    <button class="sign__btn" type="button" id="btn-bet-xsmb"><span>ĐẶT CƯỢC</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id=modal-choose tabindex=-1 aria-labelledby=modal-view aria-hidden=true>
    <div class="modal-dialog modal-dialog-centered">
        <div class=modal-content>
            <div class="modal__content modal__content--view">
                <div class=comments__autor>
                    <img class="comments__avatar" src="{{ settings.favicon }}" alt="">
                    <span class="comments__name">SUPBANK Thông Báo</span>
                </div>
                <div class=text-center
                     style="max-height:500px; overflow: auto; border: 1px solid rgba(255, 255, 255, 0.05);padding: 20px 0;"
                     id=selection-ball>
                </div>
                <div class=modal__btns>
                    <a href=/huy-xsmb class="modal__btn modal__btn--dismiss btn-close-qr"><span>Huỷ cược</span></a>
                    <button class="modal__btn modal__btn--apply" type=button data-bs-dismiss=modal aria-label=Close><span>Xác nhận</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal bounceIn animated" id="modal-notes" tabindex="-1" aria-labelledby="modal-view" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal__content modal__content--view">
                <div class="comments__autor">
                    <img class="comments__avatar" src="{{ settings.favicon }}" alt="">
                    <span class="comments__name">SUPBANK Thông Báo</span>
                </div>
                <p class="comments__text"></p>
                <div class="modal__btns">
                    <button class="modal__btn modal__btn--dismiss" type="button" data-bs-dismiss="modal"
                            aria-label="Close"><span>Đóng</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal bounceIn animated" id="modal-win" tabindex="-1" aria-labelledby="modal-view" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal__content modal__content--view">
                <div class="comments__autor">
                    <img class="comments__avatar" src="{{ settings.favicon }}" alt="">
                    <span class="comments__name">SUPBANK Thông Báo</span>
                </div>
                <p class="comments__text"></p>
                <div class="modal__btns">
                    <button class="modal__btn modal__btn--dismiss" type="button" data-bs-dismiss="modal"
                            aria-label="Close"><span>Đóng</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>$(".nav-item button").click(function () {
    window.location.href = "/?g=" + $(this).attr("data-bs-target").slice(1)
})</script>
{{>footer}}
<script src="../themes/default/js/lode.js?v=7"></script>
{{{ settings.footerScript }}}